/**
 * Trust Badges.
 *
 */
.merchant-trust-badges {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border: 1px solid var(--mrc-tb-border-color, #e5e5e5);
  margin-top: var(--mrc-tb-margin-top, 20px) !important;
  margin-bottom: var(--mrc-tb-margin-bottom, 20px) !important;
}
.merchant-trust-badges + .merchant-trust-badges {
  display: none;
}

.merchant-trust-badges-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: var(--mrc-tb-align, center);
      -ms-flex-pack: var(--mrc-tb-align, center);
          justify-content: var(--mrc-tb-align, center);
  width: 100%;
  color: var(--mrc-tb-text-color, #212121);
  font-size: var(--mrc-tb-font-size, 15px);
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

.merchant-trust-badges-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 5px;
  -webkit-box-pack: var(--mrc-tb-align, center);
      -ms-flex-pack: var(--mrc-tb-align, center);
          justify-content: var(--mrc-tb-align, center);
}
.merchant-trust-badges-images img {
  max-width: var(--mrc-tb-image-max-width, 70px) !important;
  max-height: var(--mrc-tb-image-max-height, 70px) !important;
}
.merchant-trust-badges-images.is-placeholder img {
  width: 100%;
}