/**
 * Admin Preview
 * Advanced Reviews
 *
 */
.merchant-module-page-preview-browser-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 600px;
  margin: auto;
  padding: 25px;
}

.merchant-adv-reviews .merchant-adv-reviews-title {
  margin-top: 25px;
  margin-bottom: 0 !important;
}
.merchant-adv-reviews .merchant-adv-reviews-desc {
  margin-bottom: 0 !important;
}
.merchant-adv-reviews .merchant-adv-reviews-header {
  margin-top: 20px !important;
}
.merchant-adv-reviews .merchant-adv-reviews-header .merchant-adv-reviews-total {
  margin-bottom: 15px !important;
}
.merchant-adv-reviews .merchant-adv-reviews-header .mrc-right-col {
  margin-left: 50px;
}
.merchant-adv-reviews .merchant-adv-review-write-button {
  margin-bottom: auto;
}
.merchant-adv-reviews .merchant-reviews-orderby {
  pointer-events: none;
}
.merchant-adv-reviews .merchant-adv-reviews-body {
  margin-bottom: 30px !important;
}
.merchant-adv-reviews .merchant-adv-reviews-footer {
  display: none;
}
.merchant-adv-reviews.hide-title .merchant-adv-reviews-title,
.merchant-adv-reviews.hide-title .merchant-adv-reviews-desc {
  display: none;
}

.merchant-reviews-list-wrapper {
  margin-top: 25px;
}
.merchant-reviews-list-wrapper .merchant-reviews-list-item {
  padding: 15px 0;
}
.merchant-reviews-list-wrapper .merchant-reviews-list-item .merchant-review-date {
  top: 6px;
  position: relative;
  font-size: 0.8rem;
}
.merchant-reviews-list-wrapper .merchant-reviews-list-item .merchant-review-content {
  margin-top: 5px;
}

.merchant-star-rating-bars .merchant-star-rating-bar-item {
  max-width: 230px;
}
.merchant-star-rating-bars .merchant-star-rating-bar-item .item-bar {
  min-width: 130px;
}

@media (min-width: 1300px) {
  .merchant-star-rating-bars .merchant-star-rating-bar-item {
    max-width: 300px;
  }
  .merchant-star-rating-bars .merchant-star-rating-bar-item .item-bar {
    min-width: 200px;
  }
}
/**
 * Star rating
 */
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  width: 5.3em;
  font-family: star;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0;
  color: #FFA441;
}
.star-rating::before {
  content: "SSSSS";
  opacity: 0.25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span::before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
  color: #FFA441;
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  margin-right: 1px;
  font-weight: 400;
}
p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: star;
  content: "S";
  color: #212121;
  text-indent: 0;
  opacity: 0.25;
}
p.stars a:hover ~ a::before {
  content: "S";
  color: #212121;
  opacity: 0.25;
}
p.stars:hover a::before {
  content: "S";
  color: #FFA441;
  opacity: 1;
}
p.stars.selected a.active::before {
  content: "S";
  color: #FFA441;
  opacity: 1;
}
p.stars.selected a.active ~ a::before {
  content: "S";
  color: #212121;
  opacity: 0.25;
}
p.stars.selected a:not(.active)::before {
  content: "S";
  color: #FFA441;
  opacity: 1;
}

.rtl .merchant-adv-reviews .merchant-adv-reviews-header .mrc-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.rtl .merchant-adv-reviews .merchant-adv-reviews-header .mrc-right-col {
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}
.rtl .merchant-adv-reviews .merchant-adv-reviews-header .merchant-adv-reviews-rating-wrapper .star-rating {
  margin-left: unset !important;
  margin-right: 16px !important;
}
.rtl .merchant-adv-reviews .merchant-star-rating-bars {
  text-align: right;
}
.rtl .merchant-adv-reviews .merchant-star-rating-bars .merchant-star-rating-bar-item .item-bar .item-bar-inner {
  left: unset;
  right: 0;
}
.rtl .merchant-adv-reviews .merchant-reviews-list-wrapper .merchant-reviews-list-item .star-rating + .merchant-review-author {
  margin-right: 20px;
  margin-left: unset;
}