/**
 * Real Time Search.
 *
 */

.merchant-ajax-search {
	position: relative;
	z-index: 999;
}

.merchant-ajax-search-products {
	max-height: 50vh;
	overflow-y: auto;
	
	&::-webkit-scrollbar {
		width: 6px
	}
	
	&::-webkit-scrollbar-track {
		background: #ddd;
		border-radius: 6px
	}
	
	&::-webkit-scrollbar-thumb {
		background: #999;
		border-radius: 6px
	}
	
	&::-webkit-scrollbar-thumb:hover {
		background: #000;
	}
	
	&.has-scrollbar  {
		padding-right: 15px;
	}
	
	& + .merchant-ajax-search-heading-title {
		margin-top: 30px;
	}
	
	a.merchant-ajax-search-item {
		color: #333;
		text-decoration: none !important;
		
		&:hover {
			color: #333;
		}
	}
}

.merchant-ajax-search-heading-title {
	font-size: 18px;
	margin: 0;
}

.merchant-ajax-search-divider {
	width: 100%;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #eee;
}

.merchant-ajax-search-wrapper {
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	z-index: 99999;
	width: 100%;
	min-width: var(--merchant-results-box-width, 500px);
	padding: 15px;
	color: #212121;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 30px 80px -10px rgba(0, 0, 0, 0.1);
	
	&.merchant-reverse  {
		left: auto;
		right: 0;
	}
}

.merchant-ajax-search-item {
	display: flex;
	grid-gap: 20px;
	transition: ease opacity 300ms;
	
	&:hover {
		opacity: 0.75;
	}
	
	& + .merchant-ajax-search-item {
		position: relative;
		margin-top: 30px;
		
		&:before {
			position: absolute;
			content: '';
			top: -15px;
			left: 0;
			width: 100%;
			border-top: 1px solid #eee;
		}
	}
}

.merchant-ajax-search-item-image {
	flex-shrink: 0;
	max-width: 60px;
}

.merchant-ajax-search-item-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	grid-gap: 5px;
	
	p  {
		font-size: 14px;
		line-height: 1.2em;
		margin: 0;
	}
}

.merchant-ajax-search-item-title {
	font-size: 14px;
}

.merchant-ajax-search-item-price {
	flex-shrink: 0;
	text-align: right;
	
	.woocommerce-Price-amount {
		font-weight: 600;
	}
	
	ins {
		background: none;
	}
	
	del {
		opacity: 0.7;
		
		.woocommerce-Price-amount {
			font-weight: 400;
		}
	}
}

.merchant-ajax-search-categories {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.merchant-ajax-search-item-category {
	margin-top: 0 !important;
	
	&:before  {
		content: none !important;
	}
	
	.merchant-ajax-search-item-info {
		
		h3  {
			font-weight: 400;
		}
	}
}

.merchant-ajax-search-no-results {
	font-size: 14px;
	margin: 0;
}

@media(max-width: 767px)  {
	
	.merchant-ajax-search-wrapper {
		min-width: 500px;
	}
	
	.merchant-ajax-search-item-image {
		display: none;
	}
}

@media(max-width: 575px)  {
	
	.merchant-ajax-search-wrapper {
		min-width: calc(100vw - 30px);
	}
}

.merchant-ajax-search-item-image {
	width: 60px;
	height: 60px;
	background: #e5e5e5;
}

.woocommerce-product-search.merchant-ajax-search { 
	//max-width: 500px;
	width: 100%; 
	margin: 0 auto;
	display: flex;
}
.merchant-module-page-preview-browser-inner {
	padding: 20px;
}

form.merchant-product-search {
	&,
	&.woocommerce-product-search.merchant-ajax-search {
		margin-block: 15px;
	}
}

body form.woocommerce-product-search,
.merchant-product-search {
	width: 100%;
	display: flex;

	.search-field {
		border: 1px solid #212121;
		border-radius: 0;
		flex-grow: 1;
		padding-inline: 0.75em;
		margin-block: 0;
	}

	button[type="submit"],
	button.search-submit {
		background: #212121 !important;
		color: #fff;
		border: 0;
		margin-left: 10px;
		margin-block: 0;
		padding: 9px 15px;
		line-height: 1;

		svg {
			fill: white;
		}
	}
}