/**
 * Quick Social Links.
 *
 */
.merchant-quick-social-links {
  position: fixed;
  bottom: 50px;
  z-index: 997;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 50%);

  .merchant-quick-social-links-inner {
    display: flex;
    border-radius: var(--merchant-border-radius);
    flex-wrap: wrap;
    background-color: var(--merchant-bg-color);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  }

  .ql-image {
    text-align: center;
    height: 20px;
  }

  .merchant-quick-social-link {
    padding: 15px;
    flex: 1;
    justify-content: space-around;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    transition: all 0.3s;

    &:last-of-type {
      border-right: 0;
    }

    a {
      color: #212121;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.5;
      }
    }

    svg,
    img {
      width: 20px;
      height: 20px;
    }

    img {
      max-height: 30px;
      vertical-align: top;
    }

    svg {
      fill: var(--merchant-icon-color);
    }
  }
}



@media (min-width: 1025px) {
  .merchant-quick-social-links {
    &.visibility-mobile {
      display: none;
    }
    &.pos-right,
    &.pos-left {
      left: 0;
      width: 60px;
      top: 50%;
      bottom: auto;
      transform: translatey(-50%);

      .container {
        width: 100%;
      }

      .merchant-quick-social-links-inner {
        display: block;
      }

      .ql-image {
        margin: 0;
      }

      .merchant-quick-social-link {
        padding: 20px 10px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-of-type {
          border-bottom: 0;
        }

      }
    }

    &.pos-right {
      left: auto;
      right: 0;
    }
  }
}


@media (max-width: 991px) {
  .merchant-quick-social-links {
    bottom: 0;
    transform: translate(-50%, 0%);

    &.visibility-desktop {
      display: none;
    }

    &.pos-right,
    &.pos-left {
      bottom: 0;

      .merchant-quick-social-link {
        border-bottom: 0;
        border-right: 1px solid;

        &:last-of-type {
          border-right: 0;
        }
      }

      .merchant-quick-social-links-inner {
        display: flex;
      }
    }

    .merchant-quick-social-link {
      padding: 15px;
      position: static;

      .ql-image {
        margin: 0;

        img {
          max-height: 27px;
        }
      }
    }

    .merchant-quick-social-links-inner {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .container {
      width: 100%;
      padding: 0;
    }
  }
}