/**
 * Buy Now.
 *
 */

.merchant-buy-now-button {
    color: var(--mrc-buy-now-text-color, #FFF) !important;
    border-color: var(--mrc-buy-now-border-color, #212121) !important;
    background-color: var(--mrc-buy-now-background-color, #212121) !important;
    
    &:hover {
        color: var(--mrc-buy-now-text-hover-color, #FFF) !important;
        border-color: var(--mrc-buy-now-border-hover-color, #414141) !important;
        background-color: var(--mrc-buy-now-background-hover-color, #414141) !important;
    }
} 

.products {
	.product {
		.merchant-buy-now-button {
			align-self: flex-start;
		}
	}
}

.single-product {
	.product {
		.single_add_to_cart_button.merchant-buy-now-button {
			margin-left: 5px;
		}
	}
}