node_modules
vendor
**.code-workspace
.DS_Store
.idea
composer.lock
yarn.lock
package-lock.json
assets/css
assets/js/**/*.js
!assets/js/src/**/*.js

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
