node_modules
vendor
**.code-workspace
.DS_Store
.idea
composer.lock
yarn.lock
package-lock.json
assets/css
assets/js/admin
assets/js/modules
assets/js/carousel.js
assets/js/carousel.min.js
assets/js/copy-to-clipboard.js
assets/js/copy-to-clipboard.min.js
assets/js/custom-addtocart-button.js
assets/js/custom-addtocart-button.min.js
assets/js/merchant.js
assets/js/merchant.min.js
assets/js/modal.js
assets/js/modal.min.js
assets/js/pagination.js
assets/js/pagination.min.js
assets/js/scroll-direction.js
assets/js/scroll-direction.min.js
assets/js/scroll-to.js
assets/js/scroll-to.min.js
assets/js/toggle-class.js
assets/js/toggle-class.min.js