/**
 * Frequently Bought Together.
 *
 */
.merchant-frequently-bought-together-title {
  margin-bottom: 25px;
}

.merchant-frequently-bought-together.after-tabs {
  padding-bottom: 40px;
}

.merchant-frequently-bought-together-bundles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

.merchant-frequently-bought-together-bundle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.merchant-frequently-bought-together-bundle form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.merchant-frequently-bought-together-bundle-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.merchant-frequently-bought-together-bundle-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 200px;
  position: relative;
}

.merchant-frequently-bought-together-bundle-product-attributes {
  display: grid;
  grid-gap: 10px;
  margin-top: 10px;
}

.merchant-frequently-bought-together-bundle-product-attributes select {
  min-height: inherit;
  height: inherit;
  padding: 7px;
  font-size: 12px;
}

.merchant-frequently-bought-together-bundle-product-plus {
  position: absolute;
  right: -30px;
  top: 50px;
  font-size: 25px;
  background: var(--merchant-bg-color);
  color: var(--merchant-text-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: arial, serif;
}

.merchant-frequently-bought-together-bundle-product:not(:first-child) {
  border: 1px solid var(--merchant-border-color);
  border-radius: var(--merchant-border-radius);
  padding: 15px;
}

.merchant-frequently-bought-together-bundle-product:not(:first-child) img {
  width: 100px;
  height: 100px;
}

.merchant-frequently-bought-together-bundle-product p {
  margin: 0 0 10px;
}

.merchant-frequently-bought-together-bundle-product img {
  width: 125px;
  height: 125px;
  margin: 0 auto 20px;
}

.merchant-frequently-bought-together-bundle-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.merchant-frequently-bought-together-bundle-total, .merchant-frequently-bought-together-bundle-total-price {
  margin: 0;
}

.merchant-frequently-bought-together-bundle-total-price ins {
  font-size: 21px;
}

.merchant-frequently-bought-together-bundle-save {
  margin-bottom: 15px;
  font-style: italic;
}

.merchant-frequently-bought-together-bundle-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.merchant-frequently-bought-together-bundle:not(:last-child) {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .merchant-frequently-bought-together-bundle-offer {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .merchant-frequently-bought-together-bundle-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .merchant-frequently-bought-together-bundle-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px solid #ededed;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
  }
  .merchant-frequently-bought-together-bundle-product img {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .merchant-frequently-bought-together-bundle-product-plus {
    right: 50%;
    left: 50%;
    bottom: -20px;
    top: inherit;
  }
  .merchant-frequently-bought-together-bundle-product-contents {
    text-align: left;
    padding-left: 20px;
  }
  .merchant-frequently-bought-together-bundle-product:not(:first-child) img {
    width: 60px;
    height: 60px;
  }
  .merchant-frequently-bought-together-bundle-offer {
    width: 100%;
  }
}
