/*
 * Sticky add to cart
 */
.merchant-sticky-add-to-cart-wrapper {
  position: sticky;
  padding: 15px 0;
  background: var(--mrc-sticky-adtc-bg-color, #FFF);
  border-top: 1px solid var(--mrc-sticky-adtc-border-color, #e2e2e2);
  border-bottom: 1px solid var(--mrc-sticky-adtc-border-color, #e2e2e2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: ease opacity 300ms, ease bottom 300ms;
  transition: ease opacity 300ms, ease bottom 300ms;
  z-index: 998;
}
.merchant-sticky-add-to-cart-wrapper.position-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.merchant-sticky-add-to-cart-wrapper.position-bottom {
  bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content-mobile {
  display: none;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  gap: var(--mrc-sticky-adtc-elements-spacing, 35px);
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item:last-child {
  margin-right: 0 !important;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-image {
  width: 75px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-title h5 {
  font-weight: 700;
  color: var(--mrc-sticky-adtc-title-color, #212121);
  margin: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-price .price {
  margin: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .stock {
  margin-bottom: 0;
  margin-right: 20px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .quantity {
  max-height: 51px;
  margin: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .button {
  white-space: nowrap;
  margin-left: 15px;
  max-height: 51px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart form.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart form.cart .qty {
  max-height: 100%;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .grouped_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table {
  display: block;
  border: none;
  max-height: 85px;
  overflow: auto;
  margin-bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table::-webkit-scrollbar {
  width: 7px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table::-webkit-scrollbar-track {
  background: #e2e2e2;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table::-webkit-scrollbar-thumb {
  background-color: #CCC;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table tbody tr:first-child {
  padding-top: 0;
  padding-bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table tbody tr:first-child td {
  padding-top: 0;
  padding-bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table tbody tr:not(:first-child) + tr {
  padding-top: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table tbody tr:not(:first-child) + tr td {
  padding-top: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table tbody tr,
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .group_table tbody td {
  border: none;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  margin-bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations {
  border: none;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations tbody > tr + tr > td {
  padding-top: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations tr:last-child .value {
  position: relative;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations tr .label {
  vertical-align: middle;
  min-width: 64px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations tr .value {
  width: 100%;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations td, .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations th {
  padding: 0;
  border: none;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations th {
  padding-right: 10px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .variations .reset_variations {
  position: absolute;
  top: 100%;
  right: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .reset_variations {
  margin: 0 0 0 15px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .woocommerce-variation-add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .woocommerce-variation-add-to-cart .ct-cart-actions {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .woocommerce-variation-add-to-cart .sydney-single-addtocart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .woocommerce-variation-add-to-cart .sydney-single-addtocart-wrapper .qty {
  max-height: 100%;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form .woocommerce-variation-description {
  display: none;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations {
  margin-bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations tr {
  padding: 0 15px 0 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations tr:last-child {
  padding: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations td.value > select {
  margin: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations .label {
  width: auto;
  padding-right: 10px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations + .single_variation_wrap {
  margin-left: 15px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form .single_variation_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form .single_variation_wrap .woocommerce-variation-price {
  margin: 0 15px 0 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form .single_variation_wrap .quantity {
  max-height: 51px;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .stock.out-of-stock {
  margin: 0;
}
.merchant-sticky-add-to-cart-wrapper.hide-product-image .product-image {
  display: none;
}
.merchant-sticky-add-to-cart-wrapper.hide-product-title .product-title {
  display: none;
}
.merchant-sticky-add-to-cart-wrapper.hide-product-price .product-price {
  display: none;
}
.merchant-sticky-add-to-cart-wrapper div[id*=wcpay-],
.merchant-sticky-add-to-cart-wrapper p[id*=wcpay-] {
  display: none !important;
}
.merchant-sticky-add-to-cart-wrapper div[id*=wc-stripe-payment-],
.merchant-sticky-add-to-cart-wrapper p[id*=wc-stripe-payment-] {
  display: none !important;
}
.merchant-sticky-add-to-cart-wrapper select,
.merchant-sticky-add-to-cart-wrapper .quantity,
.merchant-sticky-add-to-cart-wrapper .botiga-variations-wrapper .botiga-variation-type-button > a {
  border-color: var(--mrc-sticky-adtc-border-color, #e2e2e2);
}
.merchant-sticky-add-to-cart-wrapper .price,
.merchant-sticky-add-to-cart-wrapper .product-price,
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations .label,
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper select,
.merchant-sticky-add-to-cart-wrapper .botiga-variations-wrapper .botiga-variation-type-button > a,
.merchant-sticky-add-to-cart-wrapper .quantity .botiga-quantity-plus,
.merchant-sticky-add-to-cart-wrapper .quantity .botiga-quantity-minus,
.merchant-sticky-add-to-cart-wrapper .qty,
.merchant-sticky-add-to-cart-wrapper table.variations .reset_variations {
  color: var(--mrc-sticky-adtc-content-color, #212121);
}
.merchant-sticky-add-to-cart-wrapper .price del {
  color: var(--mrc-sticky-adtc-content-color, #212121);
  opacity: 0.7;
}
.merchant-sticky-add-to-cart-wrapper .single_add_to_cart_button {
  background-color: var(--mrc-sticky-adtc-button-bg-color, #212121) !important;
  color: var(--mrc-sticky-adtc-button-color, #FFF) !important;
}
.merchant-sticky-add-to-cart-wrapper .single_add_to_cart_button:hover, .merchant-sticky-add-to-cart-wrapper .single_add_to_cart_button:focus, .merchant-sticky-add-to-cart-wrapper .single_add_to_cart_button:active {
  background-color: var(--mrc-sticky-adtc-button-bg-color-hover, #757575) !important;
  color: var(--mrc-sticky-adtc-button-color-hover, #FFF) !important;
}

@media (max-width: 1024px) {
  .merchant-sticky-add-to-cart-wrapper.visible-desktop-only {
    display: none;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content-mobile {
    display: block;
    text-align: center;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content-mobile .merchant-mobile-sticky-close-button {
    display: none;
    text-transform: uppercase;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content {
    display: none;
    padding: 0 15px;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item {
    margin-right: 20px !important;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-title {
    max-width: 190px;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart > form:not(.variations_form) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart > .variations_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 380px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart > .variations_form .variations {
    width: auto;
    line-height: 1 !important;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart > .variations_form .single_variation_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    margin-top: 25px;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart > .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .single_add_to_cart_button {
    background-repeat: no-repeat;
    background-position: center;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart select {
    padding: 10px;
    min-height: 35px;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
    padding: 20px;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active.position-top {
    bottom: 0;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-mobile-sticky-addtocart-button {
    display: none;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-mobile-sticky-close-button {
    display: block;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item {
    text-align: left !important;
    margin-right: 0 !important;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item:not(.product-image) {
    width: 100%;
    max-width: none;
    text-align: center;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form .single_variation_wrap {
    display: block;
    margin: 50px 0 0;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form .single_variation_wrap .woocommerce-variation-price {
    font-size: 1.5rem;
    margin: 25px 0 10px;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .variations_form {
    display: block;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations tbody {
    display: block;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations tr {
    padding: 0;
  }
  .merchant-sticky-add-to-cart-wrapper.merchant-sticky-addtocart-mobile-active .merchant-sticky-add-to-cart-wrapper-content .variations_form table.variations tr + tr td {
    padding-top: 20px !important;
  }
}
@media (max-width: 767px) {
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-price {
    width: 100%;
    text-align: center;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart > .variations_form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart > .variations_form .single_variation_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1025px) {
  .merchant-sticky-add-to-cart-wrapper.visible-mobile-only {
    display: none;
  }
}
@media (min-width: 601px) {
  body.admin-bar .merchant-sticky-add-to-cart-wrapper {
    top: 32px;
  }
}
body.merchant-sticky-addtocart-active .merchant-sticky-add-to-cart-wrapper {
  opacity: 1;
  visibility: visible;
}
body:not(.merchant-scrolling-up) .merchant-sticky-add-to-cart-wrapper.hide-when-scroll.position-bottom {
  bottom: -180px !important;
}
body.merchant-scrolling-up .merchant-sticky-add-to-cart-wrapper.hide-when-scroll.position-top {
  top: -180px !important;
}
body.merchant-scrolling-up .merchant-sticky-add-to-cart-wrapper.hide-when-scroll.position-bottom {
  bottom: -180px !important;
}
@media (max-width: 767px) {
  body.merchant-scrolling-up .merchant-sticky-add-to-cart-wrapper.hide-when-scroll.position-top {
    top: -300px !important;
  }
  body.merchant-scrolling-up .merchant-sticky-add-to-cart-wrapper.hide-when-scroll.position-bottom {
    bottom: -300px !important;
  }
}
body.merchant-scrolling-down .merchant-sticky-add-to-cart-wrapper.hide-when-scroll.position-bottom {
  bottom: 0 !important;
}
@media (max-width: 767px) {
  body.merchant-scrolling-down .merchant-sticky-add-to-cart-wrapper.hide-when-scroll.position-bottom {
    bottom: 0 !important;
  }
}

@media (max-width: 1025px) {
  .merchant-sticky-add-to-cart-wrapper {
    --mrc-sticky-adtc-elements-spacing: 15px !important;
  }
}
/* Compatibility */
/* Botiga Sticky Add To Cart Compatiblity */
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .quantity .botiga-quantity-plus,
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .quantity .botiga-quantity-minus {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form.cart .botiga-variations-wrapper .botiga-variation-type-button > a {
  margin-bottom: 0;
}
.merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .variations_form .single_variation_wrap .botiga-single-addtocart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rtl .merchant-sticky-add-to-cart-item .single_add_to_cart_button {
  margin-left: unset;
  margin-right: 15px;
}