/**
 * Buy X Get Y
 *
 */
.merchant-bogo-title {
  margin: 0 0 10px;
  font-size: var(--merchant-font-size);
  font-weight: var(--merchant-font-weight);
  color: var(--merchant-text-color);
}

.merchant-bogo-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}
.merchant-bogo-offer > div {
  position: relative;
}
.merchant-bogo-offer:not(:last-child) {
  margin-bottom: 20px;
}

.merchant-bogo-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.merchant-bogo-product p {
  margin: 0 0 5px;
}
.merchant-bogo-product p,
.merchant-bogo-product span {
  font-size: 13px;
}
.merchant-bogo-product img {
  max-height: 80px;
  max-width: 80px;
}

.merchant-bogo-product-price .error {
  color: red;
  font-size: 12px;
}

.merchant-bogo-product-contents {
  padding-left: 10px;
}

.merchant-bogo-product-y {
  border: 1px solid var(--merchant-border-color);
  border-radius: var(--merchant-border-radius);
  padding: 10px 10px 0;
}

.merchant-bogo-product-label {
  background: var(--merchant-bg-color);
  color: var(--merchant-text-color);
  padding: 4px 12px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

.merchant-bogo-arrow {
  background: var(--merchant-bg-color);
  color: var(--merchant-text-color);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: -30px;
  top: 80px;
  z-index: 2;
}

button.button.merchant-bogo-add-to-cart {
  font-size: 12px;
  margin-top: 10px;
  padding: 7px 14px;
  width: 100%;
}

.merchant-bogo-offer-error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.merchant-bogo-product-attributes {
  display: grid;
  grid-gap: 10px;
  margin-top: 10px;
}
.merchant-bogo-product-attributes select {
  min-height: inherit;
  height: inherit;
  padding: 7px;
  font-size: 12px;
}

@media (min-width: 470px) {
  .merchant-bogo-product-x {
    width: 50%;
  }
  .merchant-bogo-product-y {
    width: 50%;
  }
}
@media (max-width: 469px) {
  .merchant-bogo-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .merchant-bogo-arrow {
    right: 0;
    left: 50%;
    bottom: -30px;
    top: inherit;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}