/**
* Grid
* Custom lightweight Merchant grid system.
* Useful for features that requires grid structure.
*
*/

.mrc-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-width: 320px;
}

.mrc-container-fluid {
    width: 100%;
    max-width: 100%;
}

.mrc-row { 
    display:flex;
    flex-wrap: wrap;
}

.mrc-col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.mrc-col-1 {
    max-width: calc(100% / 12);
}
.mrc-col-2 {
    max-width: calc(100% / 12 * 2);
}
.mrc-col-3 {
    max-width: calc(100% / 12 * 3);
}
.mrc-col-4 {
    max-width: calc(100% / 12 * 4);
}
.mrc-col-5 {
    max-width: calc(100% / 12 * 5);
}
.mrc-col-6 {
    max-width: calc(100% / 2);
}

@media screen and (max-width: 768px) {
    .mrc-container {
        overflow: auto;
    }
    .mrc-col {
        min-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}
