@import 'modules/_theme-compatibility';
@import 'modules/_common';


.merchant-shortcode-wrong-placement{
  border-left: 3px solid #d93232;
  background-color: #fce6e6;
  color: #000000;
  padding: 10px 15px;
}

