/**
 * Admin Preview
 * Inactive Tab Message
 *
 */

 .merchant-module-page-preview-browser-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 0 25px;
}

.mrc-preview-inactive-tab-message {
	display: flex;
	align-items: center;
	gap: 14px;
	padding: 20px 35px;
    border-radius: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e9e9e9;

	// dashicons close icon.
	&:after {
		content: '\f335';
		display: block;
		font-family: dashicons;
		font-size: 20px;
		color: #adadad;
		order: 3;
	}
}

.mrc-inactive-tab-message-icon-wrapper {
	position: relative;
	top: 3px;
	order: 1;

	.mrc-inactive-tab-message__icon {
		img {
			width: 20px;
		}
	}
}

.mrc-inactive-tab-message-text {
	order: 2;
}