/**
 * Product Video
 *
 */

.merchant-video-ratio {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	padding-top: calc((9/16) * 100%);
	
	embed,
	audio,
	video,
	iframe {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

.merchant-video-ratio-16-9 {
	padding-top: calc((9/16) * 100%);
}

.merchant-video-ratio-9-16 {
	padding-top: calc((16/9) * 100%);
}

.merchant-video-ratio-4-3 {
	padding-top: calc((3/4) * 100%);
}

.merchant-video-ratio-3-2 {
	padding-top: calc((2/3) * 100%);
}

.merchant-video-ratio-1-1 {
	padding-top: 100%;
}

.merchant-video-ratio-auto {
	
	embed,
	audio,
	video,
	iframe {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}

.merchant-product-has-video {
	.merchant-product-video {
		width: 100%;
		margin-bottom: 20px;
		align-self: flex-start;
		justify-self: flex-start;
		
		+ .woocommerce-product-gallery__image,
		+ .woocommerce-product-gallery {
			display: none !important;
		}
	}
	
	.fitVids-wrapper {
		padding-bottom: 0 !important;
	}
}