/**
 * Reasons to buy
 *
 */

.merchant-reasons-list {
    margin: 25px 0;

    .merchant-reasons-list-title {
        display: block;
        margin-bottom: 15px;
    }

    .merchant-reasons-list-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        .merchant-reasons-list-item-icon {
            //display: none !important;
            margin-right: 0.5em;

            img,
            svg {
                width: 0.9em;
                height: 0.9em;
                margin-top: 0.4em;
                stroke: currentColor;
            }
        }

        .merchant-reasons-list-item-text {
            margin: 0 !important;
        }
    }

    &.show-icon {
        .merchant-reasons-list-item {
            .merchant-reasons-list-item-icon {
                display: block !important;
            }
        }
    }
}

.products li .merchant-reasons-list {
    display: none !important;
}

.rtl{
    .merchant-reasons-list{
        .merchant-reasons-list-item{
            .merchant-reasons-list-item-icon{
                margin-right: unset;
                margin-left: 0.5em;
            }
        }
    }
}