.woocommerce{

  .product{

    .merchant_buy_now_button{
      color: var(--merchant-text-color, #ffffff);
      border-color: var(--merchant-border-color, #212121);
      background-color: var(--merchant-background-color, #212121);

      &:hover{
        color: var(--merchant-text-hover-color, #ffffff);
        border-color: var(--merchant-border-hover-color, #414141);
        background-color: var(--merchant-background-hover-color, #414141);
      }
    } 
  }
}

.products{

  .product{

    .merchant_buy_now_button{
      align-self: flex-start;
    }
  }
}

.single-product{

  .product{
    
    .single_add_to_cart_button.merchant_buy_now_button{
      margin-left: 5px;
    }
  }
}