.merchant-cookie-banner{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: none;

  &.merchant-show{
    display: block;
  }
}

.merchant-cookie-banner-inner{
  position: relative;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0,0,0,.1) 0 0 9px 1px;
  color: var(--merchant-text-color, #ffffff);
  background-color: var(--merchant-background, #000000);
  min-height: var(--merchant-modal-height, 50px);

  a{
    margin-left: 2px;
    text-decoration: underline;
    color: var(--merchant-link-color, #aeaeae);

    &:focus,
    &:hover,
    &:visited{
      color: var(--merchant-link-color, #aeaeae);
    }
  }
}

.merchant-cookie-close-button{
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1em;
  opacity: 0.5;
  transition: all .2s;

  &:hover{
    opacity: 1;
  }

  svg{
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.merchant-cookie-banner-floating{
  bottom: 35px;
  z-index: 91;

  .merchant-cookie-banner-inner{
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(0,0,0,.2);
    width: var(--merchant-modal-width, 750px);
    max-width: 95%;
  }
}

.merchant-cookie-banner-fixed-bottom{
  z-index: 93;
}

.merchant-cookie-banner-content{
  font-size: 14px;
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.merchant-cookie-banner-button{
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 4px;
  color: var(--merchant-button-text-color, #151515);
  background-color: var(--merchant-button-background, #dddddd);
}

@media (max-width: 768px) {

  .merchant-cookie-banner-floating{
    bottom: 15px;
  }

  .merchant-cookie-banner-content{
    flex-direction: column;
  }

  .merchant-cookie-banner-button{
    width: 100%;
    text-align: center;
  }
}