.merchant-onsale{
  position: absolute;
  z-index: 10;
  top: 10px;
  font-size: var(--merchant-font-size, 14px);
  line-height: 1em;
  padding: var(--merchant-padding, 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: var(--merchant-text-transform, uppercase);
  color: var(--merchant-text-color, #ffffff);
  background-color: var(--merchant-background-color, #212121);
}

.merchant-onsale-top-left{
  left: 10px;
}

.merchant-onsale-top-right{
  right: 10px;
}

.merchant-onsale-shape-rounded{
  border-radius: 4px;
}