.woocommerce{

  .product{

    .merchant-quick-view-open{
      display: inline-flex !important;
      justify-content: center !important;
      align-items: center !important;
      transition: all .2s;
      text-decoration: none;
      align-self: flex-start;
      color: var(--merchant-text-color, #ffffff) !important;
      border-color: var(--merchant-border-color, #212121) !important;
      background-color: var(--merchant-background-color, #212121) !important;
      transition: all .2s;

      svg + span{
        display: inline-block;
        margin-left: 8px;
      }

      svg{
        width: 1em;
        height: 1em;
        fill: var(--merchant-icon-color, #ffffff) !important;
        transition: all .2s;
      }

      &:hover{
        color: var(--merchant-text-hover-color, #ffffff) !important;
        border-color: var(--merchant-border-hover-color, #414141) !important;
        background-color: var(--merchant-background-hover-color, #414141) !important;

        svg{
          fill: var(--merchant-icon-hover-color, #ffffff) !important;
        }
      }
    }
  }
}

.products{

  .product{
    position: relative;
    
    .merchant-quick-view-position-overlay{
      position: absolute;
      z-index: 10;
      top: var(--merchant-button-position-top, 50%);
      left: var(--merchant-button-position-left, 50%);
      transform: translate(calc(var(--merchant-button-position-top, 50%) * -1), calc(var(--merchant-button-position-left, 50%) * -1));
      margin: 0;
      white-space: nowrap !important;
      opacity: 0;
      transition: all .2s;
    }

    &:hover{
      
      .merchant-quick-view-position-overlay{
        opacity: 1;
      }
    }
  }
}

.merchant-quick-view-modal{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .3s ease;
  
  &.merchant-show{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  &.merchant-loading{
    
    .merchant-quick-view-loader{
      opacity: 1;
      visibility: visible;
    }
  }
}

.merchant-quick-view-overlay{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.merchant-quick-view-loader{
  position: absolute;
  z-index: 2;
  display: flex;
  font-size: 26px;
  animation: merchant-fa-spin .75s linear infinite;
  opacity: 0;
  visibility: hidden;

  svg{
    width: 1em;
    height: 1em;
    fill: #fff;
  }
}

.merchant-quick-view-inner{
  position: relative;
  z-index: 3;
  width: var(--merchant-quick-view-modal-width, 1000px);
  max-height: var(--merchant-quick-view-modal-height, 500px);
  max-width: 90vw;
  padding: 35px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;

  &.merchant-show{
    opacity: 1;
    visibility: visible;
  }
}

.merchant-quick-view-close-button{
  position: absolute;
  z-index: 1;
  right: -7px;
  top: -32px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  svg{
    width: 1em;
    height: 1em;
    fill: #fff;
  }
}

@keyframes merchant-fa-spin {

  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

.merchant-quick-view-row{
  display: flex;
  grid-gap: 30px;
}

.merchant-quick-view-column{
  flex: 1;
  width: 50%;
}

.merchant-quick-view-product-gallery{

  .woocommerce-product-gallery__image{
    max-height: calc(var(--merchant-quick-view-modal-height, 500px) - 70px);

    img{
      max-height: calc(var(--merchant-quick-view-modal-height, 500px) - 70px);
    }
  }

  .woocommerce-product-gallery{
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
  } 
}

.merchant-quick-view-product-gallery{

  .flex-control-thumbs{

    &::-webkit-scrollbar{
      width: 6px
    }

    &::-webkit-scrollbar-track{
      background: #ddd;
      border-radius: 6px
    }

    &::-webkit-scrollbar-thumb{
      background: #999;
      border-radius: 6px
    }

    &::-webkit-scrollbar-thumb:hover{
      background: #000;
    }

    li{
      display: flex !important;
      margin: 0 !important;
      width: auto !important;

      img{
        width: 60px !important;
      }
    }
  }
}

.merchant-quick-view-thumbs-at-left{

  .woocommerce-product-gallery{
    display: flex !important;
    grid-gap: 5px !important;
    flex-direction: row-reverse !important;

    .flex-control-thumbs{
      padding-right: 5px !important;;
      flex-shrink: 0 !important;
      display: flex !important;
      grid-gap: 10px !important;
      flex-direction: column !important;
      margin: 0 !important;
      overflow-y: auto !important;
      max-height: calc(var(--merchant-quick-view-modal-height, 500px) - 70px) !important;;
    }
  }
}

.merchant-quick-view-thumbs-at-right{

  .woocommerce-product-gallery{
    display: flex !important;
    grid-gap: 5px !important;

    .woocommerce-product-gallery__trigger{
      display: none !important;
    }

    .flex-control-thumbs{
      padding-right: 5px !important;;
      flex-shrink: 0 !important;
      display: flex !important;
      grid-gap: 10px !important;
      flex-direction: column !important;
      margin: 0 !important;
      overflow-y: auto !important;
      max-height: calc(var(--merchant-quick-view-modal-height, 500px) - 70px) !important;
    }
  }
}

.merchant-quick-view-thumbs-at-bottom{

  .woocommerce-product-gallery{
    display: flex !important;
    grid-gap: 10px !important;
    flex-direction: column !important;
    max-height: calc(var(--merchant-quick-view-modal-height, 500px) - 70px) !important;

    .flex-control-thumbs{
      flex-shrink: 0 !important;
      display: flex !important;
      flex-wrap: wrap !important;
      grid-gap: 10px !important;
      margin: 0 !important;
    }
  }
}

.merchant-quick-view-summary{
  display: flex;
  grid-gap: 10px;
  flex-direction: column;
  max-height: calc(var(--merchant-quick-view-modal-height, 500px) - 70px);
  overflow-y: auto;
  padding-right: 12px;
  scrollbar-color: #444 #ddd;

  .woocommerce-variation-price,
  .merchant-quick-view-product-price{
    color: var(--merchant-regular-price-color, #999999);

    del{
      color: var(--merchant-regular-price-color, #999999);
    }

    ins{
      color: var(--merchant-sale-price-color, #212121);
      margin: 0;
      font-size: 24px;
    }
  }

  form.cart,
  .woocommerce-variation-add-to-cart{
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    margin: 0 !important;

    > *{
      align-self: inherit !important;
      justify-self: inherit !important;
      margin: 0 !important;
    }
  }

  .quantity{
    margin: 0;
    width: auto;
  }

  > div:empty{
    display: none;
  }

  &::-webkit-scrollbar{
    width: 6px
  }

  &::-webkit-scrollbar-track{
    background: #ddd;
    border-radius: 6px
  }

  &::-webkit-scrollbar-thumb{
    background: #999;
    border-radius: 6px
  }

  &::-webkit-scrollbar-thumb:hover{
    background: #000;
  }
}

.merchant-quick-view-product-title{

  h1.product_title{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
  }
}

.merchant-quick-view-product-rating{

  .woocommerce-product-rating{
    margin: 0;
  }
}

.merchant-quick-view-product-excerpt{

  p:last-child{
    margin-bottom: 0;
  }
}

.merchant-quick-view-product-add-to-cart{
  margin: 10px 0;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  
  .button{
    
    text-decoration: none;
    
    &:hover{
      text-decoration: none;
    }
  }

  .disabled{
    user-select: none;
    pointer-events: none;
  }
}

.merchant-hide-quantity{

  .quantity{
    display: none !important;
  }
}

.merchant-quick-view-product-meta{

  .product_meta{
    display: flex;
    grid-gap: 5px;
    flex-direction: column;

    span{
      font-weight: bold;

      a,
      span{
        font-weight: normal;
      }
    }
  }
}

@media(max-width: 767px) {

  .merchant-quick-view-row{
    flex-direction: column;
  }

  .merchant-quick-view-column{
    width: 100%;
  }

  .merchant-quick-view-content{
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .merchant-quick-view-inner{
    padding: 15px;
    max-width: 80vw;
    max-height: 85vh;
    height: 85vh;
  }

  .merchant-quick-view-modal{
    align-items: flex-start;
    padding-top: 7vh;
  }

  .merchant-quick-view-summary{
    max-height: none;
    overflow: hidden;
  }

  .merchant-quick-view-product-gallery{

    .woocommerce-product-gallery__image{
      max-height: none;

      img{
        max-height: none;
      }
    }
  }

  .merchant-quick-view-thumbs-at-left,
  .merchant-quick-view-thumbs-at-right{

    .woocommerce-product-gallery{
      display: flex !important;
      grid-gap: 10px !important;
      flex-direction: column !important;

      .flex-control-thumbs{
        flex-shrink: 0 !important;
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        grid-gap: 10px !important;
        margin: 0 !important;
        padding: 0 !important;;
        overflow: hidden !important;
        max-height: none !important;
      }
    }
  }

  .merchant-quick-view-thumbs-at-bottom{

    .woocommerce-product-gallery{
      max-height: none !important;
    }
  }
}