.merchant-onsale{
  position: absolute;
  z-index: 10;
  top: var(--merchant-top-offset, 10px);
  font-size: var(--merchant-font-size, 14px);
  padding: var(--merchant-tb-spacing, 5px) var(--merchant-lr-spacing, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: var(--merchant-border-radius,0);
  color: var(--merchant-text-color,#ffffff);
  background-color: var(--merchant-background-color,#212121);
}

.merchant-onsale-left{
  left: var(--merchant-side-offset, 10px);
}

.merchant-onsale-right{
  right: var(--merchant-side-offset, 10px);
}