.merchant-scroll-to-top-button{
  display: flex;
  grid-gap: 5px;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  position: fixed;
  z-index: 998;
  bottom: var(--merchant-bottom-offset, 30px);
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  color: var(--merchant-text-color, #ffffff);
  padding: var(--merchant-padding, 15px);
  border-radius: var(--merchant-border-radius, 30px);

  &:hover{
    color: var(--merchant-text-hover-color, #ffffff);
  }

  span{
    font-size: var(--merchant-text-size, 18px);
  }

  svg{
    width: var(--merchant-icon-size, 18px);
    height: var(--merchant-icon-size, 18px);
    stroke: var(--merchant-icon-color, #ffffff);
    transition: all .2s;
  }

  &:hover{

    svg{
      stroke: var(--merchant-icon-hover-color, #ffffff);
    }
  }

  &.merchant-show{
    opacity: 1;
    visibility: visible;
  }

  &.merchant-position-left{
    left: var(--merchant-side-offset, 30px);
  }

  &.merchant-position-right{
    right: var(--merchant-side-offset, 30px);
  }

  &.merchant-style-filled{
    background-color: var(--merchant-background-color, #212121);

    &:hover{
      background-color: var(--merchant-background-hover-color, #212121);
    }
  }

  &.merchant-style-outline{
    border: var(--merchant-border-size, 2px) solid var(--merchant-border-color, #212121);

    &:hover{
      border-color: var(--merchant-border-hover-color, #757575);
    }
  }
}
