.merchant-theme-botiga{

  .botiga-add-to-cart-button-layout3{

    .add_to_cart_button:hover,
    .product_type_grouped:hover,
    .single_add_to_cart_button:hover{
      animation: none;
    }
  }

  ul.products.columns-4 li.product .button,
  ul.products.columns-5 li.product .button,
  ul.products.columns-6 li.product .button,
  ul.wc-block-grid__products.columns-4 li.product .button,
  ul.wc-block-grid__products.columns-5 li.product .button,
  ul.wc-block-grid__products.columns-6 li.product .button{
    width: 100%;
  }

  .products{

    .product{

      a.merchant_buy_now_button{
        display: inline-block;
      }
    }
  }

  .product{
    
    .single_add_to_cart_button.merchant_buy_now_button{
      margin-left: 0;
    }

    .button-layout2 + .merchant_buy_now_button{
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .botiga-sc-payment-methods{

    + #merchant_agree_to_terms_field{
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

.merchant-theme-kadence{

  .products{

    .product{

      .product-action-wrap{
        display: flex;
        grid-gap: 10px;
        flex-wrap: wrap;
      }
    } 
  }
}

.merchant-theme-blocksy{

  .products{

    .product{

      .ct-woo-card-actions{
        display: flex;
        grid-gap: 10px;
        flex-wrap: wrap;
      }
    } 
  }

  .merchant-pro-multi-step-wrapper{

    form.woocommerce-checkout{
      display: block;
    }

    .ct-order-review{
      top: 0;
      position: inherit;
      padding: 0;
      border: none;
    }
  }
}

.merchant-theme-zakra{

  .products{

    .product{

      .wp-element-button{
        margin-right: 10px;
      }
    } 
  }

  .merchant-floating-side-mini-cart-widget{

    .product_list_widget{
      padding: 40px !important;

      li{
        line-height: 1;

        a.remove{
        }
      }
    }
  }

  .merchant-pro-multi-step-wrapper{

    .col-1,
    .col-2{
      width: 100% !important;
      float: none !important;
    }
  }
}

.merchant-theme-avada{

  .products{

    .product{

      .product-buttons-container{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;
      }

      .merchant-quick-view-open{
        padding-left: 0;
      }
    } 
  } 
}

.merchant-theme-oceanwp{

  .products{

    .product{
      text-align: center;

      form.cart{
        display: flex;
        grid-gap: 5px;
        flex-wrap: wrap;
      }

      .merchant-quick-view-open{
        margin: 10px;
      }
    }
  }

  .product{

    .summary{

      form.cart{
        display: flex;
        grid-gap: 10px;
        flex-wrap: wrap;

        div.quantity{
          margin-right: 0;
        }
      }

      .merchant_buy_now_button{
        margin-left: 0
      }
    }
  }

  .merchant-floating-side-mini-cart{

    .owp-grid-wrap{
      width: 100%;
      display: flex;
      grid-gap: 10px;

      .content{
        flex: 1;
        width: 100%;

        > div{
          display: flex;
        }
      }
    }
  }

  .merchant-login-popup{

    .owp-account-links{
      display: none;
    }

    .col2-set .col-1,
    .col2-set .col-2{
      float: none;
      width: 100%;
    }
  }

  .woocommerce .merchant-pro-sc-form{
    display: flex;
  }
}

.merchant-theme-woostify{

  .product{
    
    .summary{

      form.cart{
        display: flex;
        grid-gap: 10px;
        flex-wrap: wrap;

        div.quantity{
          margin-right: 0;
        }
      }

      .merchant_buy_now_button{
        margin-left: 0;
      }
    }
  }

  .merchant-login-popup{

    .woocommerce-form.woocommerce-form-login{
      border: none;
      padding: 0;
      margin-left: 0;
      max-width: none;

      .woocommerce-form-login__submit{
        width: 100%;
      }
    }
  }

  .merchant-pro-multi-step-wrapper{

    .woocommerce-billing-fields__field-wrapper:after,
    .woocommerce-additional-fields__field-wrapper:after{
      content: "";
      display: block;
      clear: both;
    }

    [name=checkout]{
      float: none;
    }
  }
}

.merchant-theme-blocksy{

  .product{
    
    .summary{

      .merchant_buy_now_button{
        margin-left: 0;
      }
    }
  }

  .merchant-quick-view-summary{

    .merchant_buy_now_button{
      align-self: inherit;
      margin-left: 0;
    }
  }

  .merchant-floating-side-mini-cart-widget{

    .ct-icon{
      width: 10px;
      height: 10px;
    }

    .ct-image-container{
      width: auto;
    }

    .product-data{
      display: flex;
    }

    .woocommerce-mini-cart__buttons{
      margin: 0 !important;
    }
  }

  .merchant-pro-sc-order-review{
    width: 100%;
    flex-direction: row;
    padding-right: 0;
    border-right: 0;
  }

  .merchant-pro-sc-contents{
    width: 60%;
    padding-right: 30px;
  }
}

@media(max-width: 767px) {
  .merchant-theme-blocksy{

    .merchant-pro-sc-order-review{
      flex-direction: column;
    }

    .merchant-pro-sc-contents{
      width: 100%;
      padding-right: 0;
    }
  }
}

.merchant-theme-woodmart{

  .products{

    .product{

      .woodmart-add-btn{
        display: flex;
        grid-gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.merchant-theme-astra{

  .merchant-floating-side-mini-cart-widget{

    .product_list_widget{
      padding: 40px !important;

      li{
        line-height: 1;
      }
    }
  }
}

.merchant-theme-neve{

  .merchant-pro-sc-order-review{
    width: 100%;
    flex-direction: row;
    padding-right: 0;
    border-right: 0;
  }

  .merchant-pro-sc-contents{
    width: 60%;
    padding-right: 30px;
  }

  .woocommerce .merchant-pro-sc-form{
    display: flex;
  }

  .merchant-pro-multi-step-wrapper{

    form.checkout{
      display: block;
    }
  }
}

@media(max-width: 767px) {
  .merchant-theme-neve{

    .merchant-pro-sc-order-review{
      flex-direction: column;
    }

    .merchant-pro-sc-contents{
      width: 100%;
      padding-right: 0;
    }
  }
}

.merchant-theme-sydney{

  .merchant-pro-sc-fields{

    .row{
      margin: 0;
    }

    .form-row-wide{
      clear: none;
    }
  }
}
