.merchant-trust-badges{
  flex: 1;
  width: 100%;
  display: flex;
  grid-gap: 15px;
  flex-direction: column;
  padding: 15px;
  border: 1px solid var(--merchant-border-color, #e5e5e5);
  margin-top: var(--merchant-margin-top, 20px);
  margin-bottom: var(--merchant-margin-bottom, 20px);

  + .merchant-trust-badges{
    display: none;
  }
}

.merchant-trust-badges-title{
  color: var(--merchant-text-color, #212121);
  font-size: var(--merchant-font-size, 18px);
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.merchant-trust-badges-images{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px;
  justify-content: var(--merchant-align, flex-start);

  img{
    max-width: var(--merchant-image-max-width, 100px) !important;
    max-height: var(--merchant-image-max-height, 100px) !important;
  }
}