/**
* Product Video
*/
.merchant-product-has-audio {
	display: block !important;
	
	.merchant-product-audio {
		width: 100%;
		margin-bottom: 20px;
		
		+ .woocommerce-product-gallery__image,
		+ .woocommerce-product-gallery{
			display: none !important;
		}
	}
	
	.product-loop-image-wrapper,
	.image-wrap,
	.loop-image-wrap,
	.ct-image-container{
		display: none !important;
	}
	
	audio{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	
	.onsale,
	.merchant-onsale,
	.woocommerce-product-gallery__trigger{
		display: none !important;
	}
}

.woocommerce-product-gallery__image.has-audio {
	position: relative;
	
	.merchant-product-audio {
		position: absolute;
		bottom: 50%;
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		z-index: 5;
	}
	
	.merchant-product-audio-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0.5;
		z-index: 4;
	}
}

.merchant-product-audio {
	audio {
		width: 100%;
	}
}
