/**
 * Wait list.
 *
 */
.merchant-wait-list-success {
  color: green;
}

.merchant-wait-list-error {
  color: red;
}

#merchant-wait-list p {
  font-weight: bold;
  margin: 0;
}

.merchant-wait-list-email label {
  display: none;
}

#merchant-wait-list input {
  width: 100%;
  margin-bottom: 5px;
}

#merchant-wait-list button {
  width: 100%;
}
