.merchant-analytics-section {
	background-color: #fff;
	margin-bottom: 22px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.impressions-chart {
	.apexcharts-gridlines-vertical line:last-of-type,
	.apexcharts-gridlines-vertical line:first-of-type {
		display: none;
	}
}

.apexcharts-tooltip {
	opacity: 1 !important;
	visibility: visible !important;
}

.revenue-chart {
	.apexcharts-tooltip {
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}
}

.avg-order-value-chart {
	.apexcharts-tooltip {
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}
}

.revenue-chart,
.avg-order-value-chart {
	.apexcharts-tooltip {
		.arrow-box-aov {
			text-align: center;

			.box-title {
				color: #7880CA;
				font-size: 14px;
				font-weight: 500;
				margin-bottom: 5px;
			}

			.box-value {
				font-weight: 500;
				font-size: 16px;

				.diff {
					font-size: 14px;
				}

				.red {
					color: #E36131;
				}

				.blue {
					color: #3D65E9;
				}
			}
		}

		.arrow-box {
			.box-wrapper {
				display: flex;
				flex-direction: row;
				gap: 10px;

				.separator {
					width: 1px;
					background-color: #D8D8D8;
				}

				.box-column {
					flex: 1;

					&.big {
						flex: 2;
					}

					.head {
						border-bottom: 1px solid #D8D8D8;
						margin-bottom: 10px;

						.box-title {
							color: #3D65E9;
							font-weight: 500;
							font-size: 14px;
							margin-bottom: 5px;
						}

						.box-value {
							font-size: 16px;
							font-weight: 500;
							color: #101517;
							margin-bottom: 10px;
						}
					}

					.orders-count {
						color: #565865;
					}

					.change-percentage {
						strong {
							color: #3D65E9;

							&:before {
								content: '+';
							}

							&.decrease {
								color: #E36131;

								&:before {
									content: '-';
								}
							}
						}
					}
				}
			}
		}
	}
}