.merchant-metabox {
	display: flex;
	padding: 20px;
}

.merchant-metabox-tabs {
	display: flex;
	flex-direction: column;
	width: 225px;
	margin-left: -20px;

	a {
		position: relative;
		display: flex;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		color: #1a1a1a;
		padding: 9px 16px;
		text-decoration: none;
		transition: all .1s;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 100%;
			border-radius: 0 4px 4px 0;
			opacity: 0;
			visibility: hidden;
			transition: ease opacity 200ms;
		}

		&:focus,
		&:active,
		&:hover {
			color: #757575;
			outline: none;
			box-shadow: none;

			&:before {
				background-color: #e1e1e1;
				opacity: 1;
				visibility: visible;
			}
		}

		&.active {
			color: #3858E9;

			&:before {
				background-color: #3858E9; 
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.merchant-metabox-contents {
	flex: 1;
	display: flex;
	flex-direction: column;
	border: 1px solid #F0F0F1;
	border-radius: 4px;
}

.merchant-metabox-content {
	display: flex;
	flex-direction: column;

	&:not(.active) {
		display: none;
	}
}

.merchant-metabox-content-title {
	display: none;
	margin: 0;
	padding: 10px 15px;
	color: #1e1e1e;
	background-color: #eee;
}

.merchant-metabox-field {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 20px;
	padding: 20px;

	&:first-child {
		border-top: none;
	}

	&:last-child {
		border-bottom: none;
	}
}

.merchant-metabox-field-hidden{
	display: none;
}

.merchant-metabox-field-separator-before {
	border-top: 1px solid #eee;
}

.merchant-metabox-field-separator-after {
	border-bottom: 1px solid #eee;
}

.merchant-metabox-field-inline {
	flex-direction: column;
}

.merchant-metabox-field-title {
	width: 30%;
	max-width: 275px;
	display: flex;
	flex-wrap: wrap;
	grid-gap: 5px;
	flex-direction: column;

	h4 {
		margin: 0;
		color: #1e1e1e;
	}

	small {
		opacity: 0.75;

		code{
			font-size: 1em;
		}
	}
}

.merchant-metabox-field-content {
	flex: 1
}

.merchant-metabox-field-description {
	font-size: 80%;
	opacity: 0.75;
	margin-top: 10px;

	code{
		font-size: 1em;
	}
	
	a{
		color: #3858E9;

		&:focus{
			box-shadow: none;
		}
	}
}

.merchant-metabox-field-text {

	input {
		width: 50%;
		max-width: 100%;
	}
}

.merchant-metabox-field-number {

	input {
		width: 100px;
		max-width: 100%;
	}
}

.merchant-metabox-field-textarea {

	textarea {
		width: 100%;
		max-width: 100%;
		min-height: 100px;
		vertical-align: top;
	}
}

.merchant-metabox-field-checkbox {

	label {
		display: flex;
		grid-gap: 6px;
		align-items: center;
		user-select: none;

		input {
			margin: 0;
		}
	}
}

.merchant-metabox-field-switcher {

	label {
		display: inline-flex;
		grid-gap: 6px;
		align-items: center;
		user-select: none;
	}

	i {
		position: relative;
		overflow: hidden;
		display: flex;
		width: 45px;
		height: 22px;
		background-color: #c8c8c8;
		border-radius: 20px;
		transition: all 0.2s;

		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 14px;
			height: 14px;
			top: 4px;
			left: 6px;
			background-color: #fff;
			border-radius: 20px;
			transition: all 0.1s;
		}
	}

	input {
		display: none;

		&:checked {

			+i {
				background-color: #3858E9;

				&:before {
					left: 26px;
				}
			}
		}
	}
}

.merchant-metabox-field-choices-images {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 2px;

	label {
		display: flex;
		user-select: none;
	}

	figure {
		padding: 4px;
		margin: 0;
		border: 2px solid transparent;
		border-radius: 4px;
		transition: all .2s;
		max-width: 80px;
		max-height: 80px;

		img {
			width: 100%;
			vertical-align: top;
		}
	}

	input {
		display: none;

		&:checked {

			+figure {
				border-color: #1e1e1e;

				&:before {
					left: 26px;
				}
			}
		}
	}
}

.merchant-metabox-field-uploads-thumbnail {
	border-right: 1px solid #e5e5e5;
	margin-right: 10px;
	padding-right: 10px;
	position: relative;
}
  
.merchant-metabox-field-uploads-thumbnail-remove {
	position: absolute;
	left: -8px;
	top: -7px;
	background: white;
	border-radius: 50%;
	color: #d58f90;
	font-size: 18px;
	width: 18px;
	height: 18px;

	&:hover {
		color: #a00;
	}
}
  
.merchant-metabox-field-uploads-thumbnail-upload {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	color: #d4d4d4;
	font-size: 25px;
	font-weight: 200;
	text-decoration: none;
	
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.merchant-metabox-field-repeater-move,
.merchant-metabox-field-repeater-remove,
.merchant-metabox-field-flexible-content-move,
.merchant-metabox-field-flexible-content-remove {
	cursor: pointer;
	padding: 5px;
	width: auto;
	height: auto;
	user-select: none;
	color: #1e1e1e;
	opacity: 0.5;
	transition: all .2s;

	&:hover{
		opacity: 1;
	}
}

.merchant-metabox-field-repeater-remove,
.merchant-metabox-field-flexible-content-remove {
	color: #a00;
	font-size: 18px;
}

.merchant-metabox-field-uploads-content,
.merchant-metabox-field-repeater-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;

		li{
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 10px;

			&.hidden{
				display: none;
			}

			span{
				font-size: 20px;
				padding: 5px;
				width: auto;
				height: auto;
				user-select: none;
			}
		}
	}

	input{
		width: 50%;
		max-width: 100%;
		max-width: 100%;
		margin-right: 5px;
	}

	.merchant-metabox-field-repeater-list-item-field {
		display: flex;
		margin-right: 5px;

		input {
			width: 100%;
		}

		span {
			font-size: 14px;
		}
	}

	.merchant-metabox-field-repeater-list-item-fields {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}

.merchant-metabox-field-size-chart{

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			margin-bottom: 20px;

			&.hidden{
				display: none;
			}
		}
	}

	table{
		width: 100%;
    border-spacing: 0;
		border-collapse: collapse;
		background-color: #fff;

		th,
		td{
			padding: 15px;
			border: 1px solid rgba(0,0,0,0.1);

			&:last-child{
				width: 1%;
				min-width: 75px;
			}
		}

		thead{
			text-align: center;

			label{
				display: inline-flex;
				grid-gap: 5px;
				justify-content: center;
				align-items: center;
			}
		}

		tbody{

			input{
				width: 100%;
				max-width: 100%;
				text-align: center;
			}

			tr{

				&:nth-child(2){

					td:not(:last-child){
						background-color: #eee;
					}
				}
			}
		}

		tfoot{
			text-align: right;
		}
	}

	.merchant-buttons{
		display: flex;
		grid-gap: 10px;
		justify-content: center;
		align-items: center;

		a{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 16px;
			height: 16px;
			font-size: 14px;
			line-height: 1em;
			font-weight: bold;
			padding: 2px;
			border-radius: 4px;
			user-select: none;
			box-shadow: none;
			text-decoration: none;

			&:active{
				opacity: 0.5;
			}
		}
	}

	.merchant-add-col,
	.merchant-add-row{
		color: #27ae60;
		background-color: #d5f5e3;
	}

	.merchant-del-col,
	.merchant-del-row{
		color: #e74c3c;
		background-color: #f2d7d5;
	}

	.merchant-remove{
	  color: #fff;
	  border-color: #d50204;
	  background: #d50204;

	  &:hover,
	  &:focus{
	    border-color: #b32d2e;
	    background: #b32d2e;
	  }

	  &:focus{
	    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #b32d2e;
	  }

	  &:active{
	    border-color: #b32d2e;
	    background: #b32d2e;
	  }
	}

	.merchant-duplicate{
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		box-shadow: none;
		text-decoration: none;
		color: #000;
		transition: all .2s;

		&:hover,
		&:active{
			opacity: 0.5;
		}

		i{
			width: auto;
			height: auto;
			font-size: 20px;
		}
	}
}

.merchant-metabox-field-media{

	figure{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: 0;
	  padding: 5px;
	  width: 75px;
	  height: 75px;
	  border: 1px solid #e5e5e5;
	  background-color: #fff;
	  box-sizing: border-box;

	  img{
	    max-width: 100%;
	    height: auto;
	  }
  }

	input{
		display: none;
	}

	.merchant-button-remove{
	  color: #b32d2e;
	  border-color: #b32d2e;
	  background: #fff8f8;

	  &:hover,
	  &:focus,
	  &:active{
		  color: #b32d2e;
	    border-color: #b32d2e;
	    background: #fff0f0;
	  }

	  &:focus{
	    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #b32d2e;
	  }
	}
}

.merchant-metabox-field-select-ajax{

	select{
		display: none;
		width: 100%;
  }

  ul{
  	margin: 0;
  	padding: 0;
  	list-style: none;
  	vertical-align: top;

  	li{
  		margin: 0;
  		padding: 0;
  	}
  }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered{
  	width: auto;
  	display: inline;
  	padding: 0;
  }

  .select2-container .select2-search--inline .select2-search__field{
		margin: 0;
		padding: 0;
  }

  .select2-container--default.select2-container--focus .select2-selection--multiple{
  	border-color: #aaa;
  }

  .select2-container--default .select2-selection--multiple{
  	padding: 0 5px;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice{
  	margin-left: 0;
  }

  .merchant-select2-clear{
  	display: block;
  	width: 100%;
  	clear: both;
  }

  .merchant-metabox-field-content{
  	min-height: 32px;
  }
}

.merchant-metabox-field-wc-attributes{

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		grid-gap: 5px;
		flex-direction: column;

		li{
			margin: 0;
			padding: 0;
			display: flex;
			max-width: 300px;
			align-items: center;
			border: 1px solid #e5e5e5;
			background-color: #fdfdfd;
			border-radius: 3px;

			&:hover{
				border-color: #ccc;
			}

			label{
				display: flex;
				grid-gap: 5px;
				align-items: center;
				flex: 1;
				padding: 8px;
				user-select: none;

				input{
					margin: 0;
				}
			}

			.merchant-sortable-move{
				cursor: pointer;
				padding: 8px;
			}
		}
	}
}

.merchant-metabox-field-code-editor{

	.CodeMirror-wrap{
		border: 1px solid #eee;
	}
}

.merchant-metabox-field-media-content{
	display: flex;
	grid-gap: 10px;
	align-items: center;
}

.merchant-metabox-field-media-button{
  flex: 1;
  display: flex;
  grid-gap: 5px;
}

.merchant-metabox-field-no-padding{
	padding-top: 0;
	padding-bottom: 0;
}

body:not(.block-editor-page){
	
	#merchant_metabox{

		.inside {
			margin: 0;
			padding: 0;
		}

	}
}

#side-sortables {

	.merchant-metabox-tabs {
		display: none;
	}

	.merchant-metabox-content-title,
	.merchant-metabox-content:not(.active) {
		display: block;
	}

	.merchant-metabox-field {
		grid-gap: 8px;
		padding: 10px 15px;
		flex-direction: column;
	}

	.merchant-metabox-field-title {
		width: auto;
		font-size: 12px;

		&:empty{
			display: none;
		}
	}

	.merchant-metabox-contents {
		border-left: none;
		border-right: none;
	}

	#merchant_metabox {

		.postbox-header {
			border-top: none;

			h2 {
				color: #1e1e1e;
				padding: 0 0 0 15px;
				font-size: 13px;
				font-weight: 500;
			}
		}

		.inside {
			padding: 0;
		}
	}

	.merchant-metabox-field-text,
	.merchant-metabox-field-uploads-content,
	.merchant-metabox-field-repeater-content {

		input{
			width: 100%;
		}
	}
}


.merchant-metabox-field-flexible-content-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-gap: 10px;

	&.empty {
		border: 2px dashed #dcdcde;
		min-height: 100px;
	}
}

.merchant-metabox-field-flexible-content-item {
	border: 1px solid #c3c4c7;
	border-left: 3px solid #3858e9;

	&:first-child {
	 display: none;
	}

}

.merchant-metabox-field-flexible-content-item-content {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	padding: 15px;

	> div {
		display: flex;
		grid-gap: 10px;

		label {
			width: 200px;
		}

		> div {
			width: calc(100% - 200px);
		}
	}
}

.merchant-metabox-field-flexible-content-item-title {
	margin-left: 10px;
	font-weight: bold;
}

.merchant-metabox-field-flexible-content-item-actions {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.merchant-metabox-field-flexible-content-item-header {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	border-bottom: 1px solid #f3f3f3;
}

.merchant-metabox-field-flexible-content-item-count {
	border-radius: 50%;
	width: 24px;
	height: 23px;
	border: 1px solid #949494;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 12px;
	font-weight: bold;
}

.merchant-metabox-field-flexible-content-add-wrapper {
	position: relative;
	display: inline-block;
}

.merchant-metabox-field-flexible-content-add-list {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #c3c4c7;
	border-left: 3px solid #3858e9;
	box-shadow: 0 2px 10px 0 #0000001a;
	width: 180px;
	bottom: 100%;
	display: flex;
	flex-direction: column;
	left: 50%;
	transform: translate(-50%, 10px);
	padding: 3px 3px 3px 5px;

	&.active {
		z-index: 10;
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -15px);
		transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	}

	&:before,
	&:after {
		position: absolute;
		z-index: -1;
		content: "";
		border-style: solid;
		transition-duration: 0.3s;
		transition-property: transform;
	}

	&:before {
		right: calc(50% - 12px);
		bottom: -14px;
		border-width: 14px 14px 0 15px;
		border-color: #c3c4c7 transparent transparent transparent;
	}


	&:after {
		content: "";
		right: calc(50% - 10px);
		bottom: -12px;
		border-width: 12px 12px 0 13px;
		border-color: #ffffff transparent transparent transparent;
	}
}

.merchant-metabox-field-flexible-content-add {
	display: block;
	flex-shrink: 0;
	padding: 10px;
	text-decoration: none;

	&:hover {
		background: #f0f0f1;
	}
}

.merchant-metabox-field-input-container {
	display: flex;
}

.merchant-metabox-field-append, .merchant-metabox-field-prepend {
	background: #f0f0f1;
	border: 1px solid #8c8f94;
	align-items: center;
	display: flex;
	position: relative;
	padding: 0 8px;
}

.merchant-metabox-field-append {
	font-size: 12px;
	margin-left: -7px;
	flex-shrink: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.merchant-metabox-field-prepend {
	font-size: 14px;
	margin-right: -3px;
	padding: 0 10px;
	margin-left: 4px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


@media only screen and (max-width: 991px) {

	.merchant-metabox-tabs {
		display: none;
	}

	.merchant-metabox-content-title,
	.merchant-metabox-content:not(.active) {
		display: block;
	}

	.merchant-metabox-field {
		grid-gap: 8px;
		padding: 15px;
		flex-direction: column;
	}

	.merchant-metabox-field-title {
		width: auto;

		&:empty{
			display: none;
		}
	}

	.merchant-metabox-contents {
		border-left: none;
		border-right: none;
	}

	#merchant_metabox {

		.inside {
			padding: 0;
		}
	}

	.merchant-metabox-field-text,
	.merchant-metabox-field-uploads-content,
	.merchant-metabox-field-repeater-content {

		input{
			width: 100%;
		}
	}
}