.merchant-theme-botiga {
  /* Products */
  /* Shopify checkout */
  /* Frequently Bought Together */
  /* Sticky Add To Cart */
  /* Wishlist */
}
.merchant-theme-botiga .botiga-add-to-cart-button-layout3 .add_to_cart_button:hover,
.merchant-theme-botiga .botiga-add-to-cart-button-layout3 .product_type_grouped:hover,
.merchant-theme-botiga .botiga-add-to-cart-button-layout3 .single_add_to_cart_button:hover {
  -webkit-animation: none;
          animation: none;
}
.merchant-theme-botiga ul.products.columns-4 li.product .loop-button-wrap .button,
.merchant-theme-botiga ul.products.columns-5 li.product .loop-button-wrap .button,
.merchant-theme-botiga ul.products.columns-6 li.product .loop-button-wrap .button,
.merchant-theme-botiga ul.wc-block-grid__products.columns-4 li.product .loop-button-wrap .button,
.merchant-theme-botiga ul.wc-block-grid__products.columns-5 li.product .loop-button-wrap .button,
.merchant-theme-botiga ul.wc-block-grid__products.columns-6 li.product .loop-button-wrap .button {
  width: 100%;
}
.merchant-theme-botiga .products .product a.merchant_buy_now_button {
  display: inline-block;
}
.merchant-theme-botiga .product .single_add_to_cart_button.merchant_buy_now_button {
  margin-left: 0;
}
.merchant-theme-botiga .product .button-layout2 + .merchant_buy_now_button {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.merchant-theme-botiga .botiga-sc-payment-methods + #merchant_agree_to_terms_field {
  margin-top: 20px;
  margin-bottom: 0;
}
.merchant-theme-botiga .mrc-fbt-savings-total-mini-cart {
  color: var(--bt-color-heading-4, #212121);
  background-color: var(--bt-color-content-cards-bg, #f5f5f5);
  padding: 0.9rem 1.9rem;
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}
.merchant-theme-botiga .mrc-fbt-savings-total-mini-cart strong {
  font-weight: 400;
}
.merchant-theme-botiga .mrc-fbt-savings-total-mini-cart .woocommerce-Price-amount {
  font-weight: 500;
}
.merchant-theme-botiga .merchant-sticky-add-to-cart-wrapper .merchant-sticky-add-to-cart-wrapper-content .merchant-sticky-add-to-cart-item.product-addtocart .quantity {
  min-width: 100px;
}
.merchant-theme-botiga.page-template-wishlist .mrc-container {
  padding: 0;
}