.theme-botiga {
  /* Frequently Bought Together */
}
.theme-botiga .mrc-fbt-savings-total-mini-cart {
  color: var(--bt-color-heading-4, #212121);
  background-color: var(--bt-color-content-cards-bg, #f5f5f5);
  padding: 0.9rem 1.9rem;
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}
.theme-botiga .mrc-fbt-savings-total-mini-cart strong {
  font-weight: 400;
}
.theme-botiga .mrc-fbt-savings-total-mini-cart .woocommerce-Price-amount {
  font-weight: 500;
}