/**
 * Admin Preview
 * Quick Social Links
 *
 */

.merchant-choices.merchant-choices-layout label {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  width: calc(50% - 10px);
  display: flex;
  justify-content: center;
  max-width: 33%;

  img {
	max-width: 100%;
  }
}

.merchant-flexible-content-control[data-id="condition_rules"] .layout {
	margin-bottom: 0;
}

.merchant-flexible-content-control[data-id="links"] .layout .layout-actions-no_accordion {
	top: 10px;
	right: 20px;
}

// Canvas.
.merchant-module-page-preview-browser-inner {
  display: flex;
  flex-grow: 0;
  width: 100%;
  margin: auto;
  padding: 30px 25px 25px;
  height: 472px;
}

// Canvas Placeholder (Single Product Style).
.mrc-preview-single-product-elements {
  width: 100%;
  display: flex;
  gap: 25px;

  .mrc-preview-left-column {
	width: 30%;
	min-width: 30%;
  }

  .mrc-preview-right-column {
	width: 70%;
	padding-top: 25px;
  }

  .mrc-preview-product-image-wrapper {
	.mrc-preview-product-image {
	  background-color: #f5f5f5;
	  height: 12vw;
	}

	.mrc-preview-product-image-thumbs {
	  width: 100%;
	  display: flex;
	  gap: 10px;
	  flex-wrap: nowrap;

	  .mrc-preview-product-image-thumb {
		width: 100%;
		height: 3vw;
		background-color: #f5f5f5;
		margin-top: 10px;
	  }
	}
  }
}

.mrc-mw-70 {
  max-width: 70%;
}

.mrc-mw-30 {
  max-width: 30%;
}

.mrc-mw-40 {
  max-width: 40%;
}


@media(max-width: 1281px) {
  .mrc-hide-on-smaller-screens {
	display: none;
  }
}

.mrc-preview-text-placeholder {
  background-color: #f5f5f5;
  height: 13px;

  & + .mrc-preview-text-placeholder,
  & + .mrc-preview-addtocart-placeholder {
	margin-top: 15px;
  }
}

.mrc-preview-addtocart-placeholder {
  background-color: #e5e5e5;
  width: 140px;
  height: 30px;
}

@media(max-width: 991px) {
  .mrc-preview-single-product-elements {
	.mrc-preview-product-image-wrapper {
	  .mrc-preview-product-image {
		height: 33vw;
	  }

	  .mrc-preview-product-image-thumbs {
		.mrc-preview-product-image-thumb {
		  height: 7vw;
		}
	  }
	}
  }
}


// Quick social links

.merchant-module-page-preview-browser-inner .merchant-quick-social-links {
  position: absolute;
}

.merchant-module-page-setting-field-choices .merchant-svg {
  width: 40px;
  background: #f6f6f6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.merchant-choices.merchant-choices-icon {
  flex-wrap: wrap;

  .merchant-svg:hover svg,
  input:checked + .merchant-svg  svg{
	fill: #3858e9;
  }
}


[data-id="links"] .merchant-module-page-setting-field-choices {
  display: none;
}

.rtl{
  .merchant-quick-social-links .merchant-quick-social-link{
    border-right: unset;
    border-left: 1px solid rgba(0,0,0,.1);
  }
}