.merchant-volume-discounts {
  margin: 20px 0;
}

.merchant-volume-discounts-title {
  font-size: var(--merchant-font-size);
  font-weight: var(--merchant-font-weight);
  color: var(--merchant-text-color);
}

.merchant-volume-discounts-item {
  display: block;
  position: relative;
  border: 1px solid var(--merchant-table-item-border-color);
  margin-top: 25px;
  padding: 20px 20px 10px;
  background: var(--merchant-table-item-bg-color);
  border-radius: 5px;
  color: var(--merchant-table-item-text-color);
}

.merchant-volume-discounts-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.merchant-volume-discounts-item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.merchant-volume-discounts-item-label > span {
  background: var(--merchant-table-label-bg-color);
  color: var(--merchant-table-label-text-color);
  padding: 4px 12px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 10px;
}

.merchant-volume-discounts-item-label {
  position: absolute;
  top: -13px;
  left: 6px;
  right: 0;
}
