/**
 * Agree To Terms Checkbox
 *
 */
.woocommerce .merchant-agree-to-terms-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.woocommerce .merchant-agree-to-terms-checkbox p.form-row {
  margin: 0;
  padding: 0;
}
.woocommerce .merchant-agree-to-terms-checkbox .error {
  color: #a00;
}