/**
 * Admin Preview
 * Real Time Search
 *
 */
.merchant-module-page-preview-browser-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 55px 25px;
  height: 400px;
}

.woocommerce-product-search {
  max-height: 43px;
}