/**
 * Merchant Carousel
 *
 */
.merchant-carousel {
  --mrc-carousel-nav-icon-color: #FFF;
  --mrc-carousel-nav-color: #212121;
  --mrc-carousel-nav-color-hover: #757575;
}
.merchant-carousel .merchant-carousel-wrapper {
  position: relative;
}
.merchant-carousel .merchant-carousel-wrapper .products,
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-stage {
  display: block !important;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: ease opacity 300ms 300ms;
  transition: ease opacity 300ms 300ms;
}
.merchant-carousel .merchant-carousel-wrapper .products.row:not(.products),
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-stage.row:not(.products) {
  display: block;
}
.merchant-carousel .merchant-carousel-wrapper .products.show,
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-stage.show {
  opacity: 1;
  visibility: visible;
}
.merchant-carousel .merchant-carousel-wrapper .products > div,
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-stage > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.merchant-carousel .merchant-carousel-wrapper .products > div > div > .product,
.merchant-carousel .merchant-carousel-wrapper .products > div > div > div[class*=col-],
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-stage > div > div > .product,
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-stage > div > div > div[class*=col-] {
  width: 100% !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-nav-next {
  position: absolute;
  top: -40px;
  right: 0;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  z-index: 1;
}
.merchant-carousel .merchant-carousel-wrapper .merchant-carousel-nav-prev {
  position: absolute;
  top: -40px;
  right: 30px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  z-index: 1;
}
.merchant-carousel.no-nav .merchant-carousel-stage {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--merchant-rvp-columns-gap, 15px)) 0 0 calc(-1 * var(--merchant-rvp-columns-gap, 15px)) !important;
  width: calc(100% + var(--merchant-rvp-columns-gap, 15px)) !important;
  -webkit-column-gap: 0 !important;
     -moz-column-gap: 0 !important;
          column-gap: 0 !important;
}
.merchant-carousel.no-nav .merchant-carousel-stage > li.product {
  margin: var(--merchant-rvp-columns-gap, 15px) 0 0 var(--merchant-rvp-columns-gap, 15px) !important;
}
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-next,
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  right: 15px;
  background: var(--mrc-carousel-nav-color);
  width: 35px;
  height: 35px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(20px, -210%, 0);
          transform: translate3d(20px, -210%, 0);
  -webkit-transition: ease transform 300ms, ease opacity 300ms;
  transition: ease transform 300ms, ease opacity 300ms;
}
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-next svg,
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-prev svg {
  width: 14px;
  height: 14px;
}
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-next svg path,
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-prev svg path {
  stroke: var(--mrc-carousel-nav-icon-color);
}
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-next:hover,
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-prev:hover {
  background: var(--mrc-carousel-nav-color-hover);
}
.merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-prev {
  right: auto;
  left: 15px;
  -webkit-transform: translate3d(-20px, -210%, 0);
          transform: translate3d(-20px, -210%, 0);
}
.merchant-carousel.merchant-carousel-nav2:hover .merchant-carousel-nav-next,
.merchant-carousel.merchant-carousel-nav2:hover .merchant-carousel-nav-prev, .merchant-carousel.merchant-carousel-nav2.merchant-carousel-nav2-always-show .merchant-carousel-nav-next,
.merchant-carousel.merchant-carousel-nav2.merchant-carousel-nav2-always-show .merchant-carousel-nav-prev {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, -210%, 0);
          transform: translate3d(0, -210%, 0);
}

@media (max-width: 991px) {
  .merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-next,
  .merchant-carousel.merchant-carousel-nav2 .merchant-carousel-nav-prev {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, -210%, 0);
            transform: translate3d(0, -210%, 0);
  }
}
@media (max-width: 575px) {
  .merchant-carousel {
    padding-left: 15px;
    padding-right: 15px;
  }
  .merchant-carousel:not(.merchant-carousel-nav2) .merchant-carousel-wrapper .merchant-carousel-nav-next {
    top: auto;
    bottom: 0;
    right: 45%;
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
  .merchant-carousel:not(.merchant-carousel-nav2) .merchant-carousel-wrapper .merchant-carousel-nav-prev {
    top: auto;
    bottom: 0;
    right: 55%;
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
}