/**
* Grid
* Custom lightweight Merchant grid system.
* Useful for features that requires grid structure.
*
*/
.mrc-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-width: 320px;
}

.mrc-container-fluid {
  width: 100%;
  max-width: 100%;
}

.mrc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mrc-row.mrc-columns-no-gutter [class*=mrc-col] {
  padding-left: 0;
  padding-right: 0;
}

.mrc-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.mrc-col-1 {
  max-width: 8.3333333333%;
}

.mrc-col-2 {
  max-width: 16.6666666667%;
}

.mrc-col-3 {
  max-width: 25%;
}

.mrc-col-4 {
  max-width: 33.3333333333%;
}

.mrc-col-5 {
  max-width: 41.6666666667%;
}

.mrc-col-6 {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .mrc-container {
    overflow: auto;
  }
  .mrc-col {
    min-width: 100%;
    width: 100%;
    margin: 10px 0;
  }
}