/** 
 * Scroll To Top Button.
 *
 */
.merchant-scroll-to-top-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  line-height: 1;
  position: fixed;
  z-index: 998;
  bottom: var(--merchant-bottom-offset, 30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: var(--merchant-text-color, #ffffff);
  padding: var(--merchant-padding, 15px);
  border-radius: var(--merchant-border-radius, 30px);
}
.merchant-scroll-to-top-button:hover {
  color: var(--merchant-text-hover-color, #ffffff);
}
.merchant-scroll-to-top-button span {
  font-size: var(--merchant-text-size, 18px);
}
.merchant-scroll-to-top-button svg {
  width: var(--merchant-icon-size, 18px);
  height: var(--merchant-icon-size, 18px);
  stroke: var(--merchant-icon-color, #ffffff);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.merchant-scroll-to-top-button:hover svg {
  stroke: var(--merchant-icon-hover-color, #ffffff);
}
.merchant-scroll-to-top-button.merchant-show {
  opacity: 1;
  visibility: visible;
}
.merchant-scroll-to-top-button.merchant-position-left {
  left: var(--merchant-side-offset, 30px);
}
.merchant-scroll-to-top-button.merchant-position-right {
  right: var(--merchant-side-offset, 30px);
}
.merchant-scroll-to-top-button.merchant-style-filled {
  background-color: var(--merchant-background-color, #212121);
}
.merchant-scroll-to-top-button.merchant-style-filled:hover {
  background-color: var(--merchant-background-hover-color, #212121);
}
.merchant-scroll-to-top-button.merchant-style-outline {
  border: var(--merchant-border-size, 2px) solid var(--merchant-border-color, #212121);
}
.merchant-scroll-to-top-button.merchant-style-outline:hover {
  border-color: var(--merchant-border-hover-color, #757575);
}