.merchant-module-page-setting-field-choices-icon {
  label {
    img {
      width: 40px;
      background: #f6f6f6;
      border-radius: 3px;
      padding: 5px;
    }
  }
}

.merchant-module-page-preview-browser-inner {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.rtl{
  .merchant-cart-reserved-timer-icon{
    margin-left: 14px;
    margin-right: unset;
  }
}