.merchant-module-page-preview-browser-inner {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.rtl {
  .merchant-bogo-arrow {
    right: unset;
    left: -30px;
    transform: rotate(180deg);
  }

  .merchant-bogo-product-contents{
    padding-left: unset;
    padding-right: 10px;
  }
}