/**
 * Admin Preview
 * Stock Scarcity
 *
 */

// Canvas.
.merchant-module-page-preview-browser-inner {
	display: flex;
	flex-grow: 0;
    width: 100%;
    margin: auto;
	padding: 25px;
}

// Canvas Placeholder (Single Product Style).
.mrc-preview-single-product-elements {
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 90px 0;
    .mrc-preview-content {
        width: 50%;
        @media(max-width: 991px) {
            width: 70%;
        }
        text-align: center;
        .merchant-stock-scarcity-content {
            height: 25px;
        }
    }
}

.mrc-mw-70 {
    max-width: 70%;
}

.mrc-mw-30 {
    max-width: 30%;
}

.mrc-mw-40 {
    max-width: 40%;
}

// Stock Scarcity.
.merchant-stock-scarcity {
    margin: 25px 0;
}