/**
 * Login Popup.
 *
 */

.merchant-login-popup-button {
	font-size: 1em;
	color: var(--merchant-login-text-color, #212121);
	text-decoration: none !important;

	&:hover {
		color: var(--merchant-login-text-color-hover, #515151);
	}
}

.merchant-login-popup-dropdown {
	position: relative;

	* {
		box-sizing: border-box;
	}

	nav {
		position: absolute;
		z-index: 9999999;
		top: 100%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all .3s;
		min-width: 230px;
		transform: translate3d(0, -10px, 0);
		
		a {
			position: relative;
			padding: 10px 15px;
			white-space: nowrap;
			text-decoration: none !important;
			color: var(--merchant-dropdown-link-color, #212121);

			&:hover {
				color: var(--merchant-dropdown-link-color-hover, #515151);
			}

			+ a  {
				&:before {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					right: 0;
					height: 1px;
					background-color: var(--merchant-dropdown-link-color, #212121);
					opacity: 0.1;
				}
			}
		}
	}

	&:hover {

		nav {
    	opacity: 1;
			visibility: visible;
			pointer-events: auto;
  		transform: none;
		}
	}

	.merchant-login-popup-dropdown-button {
		display: inline-flex;
		align-items: center;
		text-decoration: none !important;

		&:after {
			content: '';
			width: 7px;
			height: 7px;
			border-top: 1px solid currentColor;
			border-right: 1px solid currentColor;
			margin-left: 10px;
			margin-top: -4px;
			transform: rotate(135deg);
		}
	}
}

.merchant-login-popup-dropdown-list {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.09);
	background-color: var(--merchant-dropdown-background-color, #ffffff);
	border-radius: 4px;
}

.merchant-login-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all .2s;
	display: flex;
	align-items: center;
	justify-content: center;

	* {
		box-sizing: border-box;
	}
}

.merchant-login-popup-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
	background-color: #000;
}

.merchant-login-popup-body {
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: var(--merchant-popup-width, 400px);
	opacity: 0;
	max-height: 75vh;
	overflow-y: auto;
	transform: translate3d(0, 20px, 0);
	transition: .2s;
	color: var(--merchant-popup-text-color, #212121);
	background-color: var(--merchant-popup-background-color, #ffffff);

	&.merchant-show {
		opacity: 1;
		transform: none;
	}
}

.merchant-login-popup-close {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 14px;

	svg {
		width: 1em;
		height: 1em;
		fill: var(--merchant-popup-icon-color, #212121);

		path {
			transform: scale(0.75);
		}
	}
}

.merchant-login-popup-content {
	padding: 50px 40px 30px 40px;
	color: var(--merchant-popup-text-color, #212121);

	h2 {
		margin-top: 0;
		font-size: 1.375rem;
		font-weight: 700;
		color: var(--merchant-popup-title-color, #212121);
	}

	a {
		color: var(--merchant-popup-link-color, #212121);

		&:hover {
			color: var(--merchant-popup-link-color-hover, #515151);
		}
	}

	.col-1,
	.col-2 {
		display: none;
		padding: 0;
		margin: 0;
		max-width: none;
	}

	.col-1 {
		display: block;
	}

	form {
		display: flex;
		grid-gap: 20px;
		flex-direction: column;
	}

	p {
		margin: 0;
	}

	label {
		display: block;
		margin: 0;
		margin-bottom: 10px;
	}

	.woocommerce-Input,
	.woocommerce-Button {
		width: 100%;
		padding: 10px;
	}

	.woocommerce-form-login p + p:not(.woocommerce-form-row) {
		display: flex;
		grid-gap: 20px;
		flex-direction: column;
	}

	.woocommerce-form-login__submit {
		order: 1;
	}

	.woocommerce-button {
		opacity: 1;
		color: var(--merchant-popup-button-color, #ffffff);
		border-color: var(--merchant-popup-button-border-color, #212121);
		background-color: var(--merchant-popup-button-background-color, #212121);

		&:hover {
			opacity: 1;
			color: var(--merchant-popup-button-color-hover, #ffffff);
			border-color: var(--merchant-popup-button-border-color-hover, #757575);
			background-color: var(--merchant-popup-button-background-color-hover, #757575);
		}
	}

	.woocommerce-form-login__rememberme {
		display: flex;
		align-items: center;
		order: 2;
		margin-bottom: 0;

		input {
			margin-right: 5px;
		}
	}

	.woocommerce-LostPassword {
		margin-top: 20px;
		margin-bottom: 0;
		text-align: center;
	}
}

.merchant-login-popup-lost-password {
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.merchant-login-popup-footer {
	padding: 20px;
	color: var(--merchant-popup-footer-text-color, #212121);
	background-color: var(--merchant-popup-footer-background-color, #f5f5f5);
	grid-gap: 5px;
	text-align: center;
	align-items: center;
	justify-content: center;

	a {
		color: var(--merchant-popup-footer-link-color, #212121);

		&:hover {
			color: var(--merchant-popup-footer-link-color-hover, #515151);
		}
	}
}

.merchant-login-popup-show {
	overflow: hidden;

	.merchant-login-popup {
		display: flex !important;;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

.merchant-login-popup-footer {
	display: flex;

	div {
		display: none;
	}

	.merchant-show {
		display: block;
	}
}