/**
 * Stock Scarcity.
 *
 */
.merchant-stock-scarcity-content {
  background-color: var(--merchant-bg-color);
  height: 15px;
  border-radius: 10px;
  margin: 5px 0;
  overflow: hidden;
}

.merchant-stock-scarcity {
  margin-bottom: 15px;
}

.merchant-stock-scarcity-progress-bar {
  height: 100%;
  display: block;
  background: -webkit-linear-gradient(left, var(--merchant-gradient-start) 0%, var(--merchant-gradient-end) 100%);
}

.merchant-stock-scarcity-message {
  font-size: var(--merchant-font-size);
  font-weight: var(--merchant-font-weight);
  color: var(--merchant-text-color);
}