/**
* Product Brand Image
*
*/
.merchant-product-brand-image {
  margin-top: var(--mrc-pbi-margin-top, 15px);
  margin-bottom: var(--mrc-pbi-margin-bottom, 15px);
}
.merchant-product-brand-image img {
  width: auto;
  height: auto;
  max-width: var(--mrc-pbi-image-max-width, 250px);
  max-height: var(--mrc-pbi-image-max-height, 250px);
}