/**
* Admin Preview
* Volume Discounts
*
*/
.merchant-flexible-content-control.volume-discounts-style .layout:not(.active) {
  border-color: #5c5f62;
}
.merchant-flexible-content-control.volume-discounts-style .layout .layout-body {
  padding: 15px;
  grid-gap: unset;
}
.merchant-flexible-content-control.volume-discounts-style .layout .layout-body .merchant-module-page-setting-field {
  margin-bottom: 20px;
}
.merchant-flexible-content-control.volume-discounts-style .layout .layout-body .merchant-module-page-setting-field-text input {
  padding: 12px 8px;
}

.merchant-module-page-preview-browser-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100%;
  margin: auto;
  padding: 25px;
}

.mrc-preview-single-product-elements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.mrc-preview-single-product-elements .mrc-preview-left-column {
  width: 30%;
  min-width: 30%;
}
.mrc-preview-single-product-elements .mrc-preview-right-column {
  width: 70%;
  padding-top: 25px;
}
.mrc-preview-single-product-elements .mrc-preview-product-image-wrapper .mrc-preview-product-image {
  background-color: #f5f5f5;
  height: 12vw;
}
.mrc-preview-single-product-elements .mrc-preview-product-image-wrapper .mrc-preview-product-image-thumbs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.mrc-preview-single-product-elements .mrc-preview-product-image-wrapper .mrc-preview-product-image-thumbs .mrc-preview-product-image-thumb {
  width: 100%;
  height: 3vw;
  background-color: #f5f5f5;
  margin-top: 10px;
}

.mrc-mw-70 {
  max-width: 70%;
}

.mrc-mw-30 {
  max-width: 30%;
}

.mrc-mw-40 {
  max-width: 40%;
}

.mrc-preview-text-placeholder {
  background-color: #f5f5f5;
  height: 13px;
}
.mrc-preview-text-placeholder + .mrc-preview-text-placeholder, .mrc-preview-text-placeholder + .mrc-preview-addtocart-placeholder {
  margin-top: 15px;
}

.mrc-preview-addtocart-placeholder {
  background-color: #e5e5e5;
  width: 140px;
  height: 30px;
}

@media (max-width: 991px) {
  .mrc-preview-single-product-elements .mrc-preview-product-image-wrapper .mrc-preview-product-image {
    height: 33vw;
  }
  .mrc-preview-single-product-elements .mrc-preview-product-image-wrapper .mrc-preview-product-image-thumbs .mrc-preview-product-image-thumb {
    height: 7vw;
  }
}
.mrc-preview-right-column {
  padding-top: 10px !important;
}

.merchant-volume-discounts {
  max-width: 350px;
  margin: 0 !important;
}

.rtl .merchant-volume-discounts-item-label > span {
  margin-right: 10px;
  margin-left: unset;
}