/**
 * Trust Badges.
 *
 */

.merchant-trust-badges {
	flex: 1;
	width: 100%;
	display: flex;
	grid-gap: 15px;
	flex-direction: column;
	padding: 15px;
	background: none;
	border: 1px solid var(--mrc-tb-border-color, #e5e5e5);
	margin: var(--mrc-tb-margin-top, 20px) 0 var(--mrc-tb-margin-bottom, 20px) 0 !important;
	border-radius: 4px;
	
	+ .merchant-trust-badges {
		display: none;
	}
}

.merchant-trust-badges-title  {
	display: flex;
	justify-content: var(--mrc-tb-align, center);
	width: 100%;
	background: none;
	color: var(--mrc-tb-text-color, #212121);
	border: none;
	font-size: var(--mrc-tb-font-size, 15px);
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	box-sizing: border-box;
}

.merchant-trust-badges-images  {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 5px;
	justify-content: var(--mrc-tb-align, center);
	
	img {
		max-width: var(--mrc-tb-image-max-width, 70px) !important;
		max-height: var(--mrc-tb-image-max-height, 70px) !important;
	}
	
	&.is-placeholder {
		img {
			width: 100%;
		}
	}
}