.merchant-volume-discounts {
  margin: 20px 0;
}

.merchant-volume-discounts-title {
  font-size: 16px;
  font-weight: normal;
  color: #212121;
}

.merchant-volume-discounts-item {
  display: block;
  position: relative;
  border: 1px solid #d83b3b;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px 20px 10px;
  background-color: #fcf0f1;
  border-radius: 5px;
  color: #3c434a;
}

.merchant-volume-discounts-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.merchant-volume-discounts-item ul li {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.merchant-volume-discounts-item-label > span {
  background-color: #d83b3b;
  color: #ffffff;
  padding: 4px 12px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 10px;
}

.merchant-volume-discounts-item-label {
  position: absolute;
  top: -13px;
  left: 6px;
  right: 0;
}

.merchant-volume-discounts-save-label .woocommerce-Price-amount {
  color: inherit;
}