/**
 * Agree To Terms Checkbox
 *
 */

.woocommerce {
	
	.merchant-agree-to-terms-checkbox {
		margin-top: 10px;
		margin-bottom: 10px;
		
		p.form-row {
			margin: 0;
			padding: 0;
		}
		
		.error {
			color: #a00;
		}
	}
}
