/**
 * Admin Preview
 * Product Labels
 *
 */

.merchant-module-page-preview-browser-inner {
	display: flex;
	flex-grow: 0;
	max-width: 300px;
    width: 100%;
	margin: auto;
    padding: 50px 25px;
}

.merchant-product-labels-preview {
    width: 100%;
    
    .image-wrapper {
        position: relative;
        height: 11vw;
        max-height: 220px;
        background-color: #f5f5f5;
    }

    .merchant-label {
        font-size: var(--mrc-pl-font-size, 14px);
        line-height: 1em;
        padding: var(--mrc-pl-padding, 8px);
        display: inline;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: var(--mrc-pl-text-transform, uppercase);
        border-radius: var(--mrc-pl-border-radius, 0px);
        position: absolute;
        top: 10px;
        &.top-right {
            left: auto;
            right: 10px;
        }

        &.top-left {
            left: 10px;
            right: auto;
        }

    }
}

.merchant-flexible-content-control.product-labels-style {
    .layout{
        border-left: 3px solid #838383;
        transition: 300ms;
        &.active{
            border-left: 3px solid #3858e9;
        }
    }
}