/**
 * Admin Preview
 * Login Popup
 *
 */
.merchant-module-page-preview-browser-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  padding: 50px 25px;
}
.merchant-module-page-preview-browser-inner .notice,
.merchant-module-page-preview-browser-inner .updated {
  display: none !important;
}

body.merchant-login-popup-show {
  overflow: auto !important;
}
body.merchant-login-popup-show .merchant-module-page-preview-browser-inner {
  height: 550px;
}

.merchant-login-popup-button {
  font-size: 1rem;
  text-decoration: none;
  margin: auto;
}

.merchant-login-popup,
.merchant-login-popup-overlay {
  position: absolute;
}
.merchant-login-popup .woocommerce-form-login__rememberme,
.merchant-login-popup-overlay .woocommerce-form-login__rememberme {
  margin-top: 15px;
}
.merchant-login-popup .woocommerce-form-login__submit,
.merchant-login-popup-overlay .woocommerce-form-login__submit {
  pointer-events: none;
  margin-top: 15px;
}
.merchant-login-popup .woocommerce-LostPassword,
.merchant-login-popup .woocommerce-form-register__submit,
.merchant-login-popup input,
.merchant-login-popup-overlay .woocommerce-LostPassword,
.merchant-login-popup-overlay .woocommerce-form-register__submit,
.merchant-login-popup-overlay input {
  pointer-events: none;
}