/**
 * Countdown Timer.
 *
 */

.merchant-countdown-timer {
	display: flex;
	align-items: center;
	margin: 25px 0;
} 

.merchant-countdown-timer.center {
	justify-content: center;
}

.merchant-countdown-timer.right {
	justify-content: right;
}

.merchant-countdown-timer svg {
	margin-right: 5px;
	fill: var(--merchant-icon-color);
}

.merchant-countdown-timer-text {
	color: var(--merchant-sale-ending-color);
}

.merchant-countdown-timer-countdown {
	color: var(--merchant-digits-color);
	font-weight: bold;
}
