/**
 * Admin Preview
 * Free Gifts
 *
 */

.merchant-flexible-content-control.free-gifts-style {
    .layout:not(.active) {
        border-color: #5c5f62;
    }

    .layout {
        .layout-body {
            padding: 15px;
            grid-gap: unset;

            .merchant-module-page-setting-field-title{
                margin: unset;
            }

            .merchant-module-page-setting-field {
                margin-bottom: 24px;
            }

            .merchant-module-page-setting-field-text input{
                padding: 12px 8px;
            }
        }
    }
}

// Canvas.
.merchant-module-page-preview-browser-inner {
	display: flex;
	flex-grow: 0;
    width: 100%;
    margin: auto;
	padding: 50px 25px;
}

// Canvas Placeholder (Single Product Style).
.mrc-preview-single-product-elements {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    .mrc-preview-left-column {
        width:  38%;
        min-width: 38%;
        height: 350px;

        > div {
            height: 100%;
        }
    }

    .mrc-preview-right-column {
        width: 55%;
    }

    .mrc-preview-product-image-wrapper {
        .mrc-preview-product-image {
            background-color: #f5f5f5;
            height: 100%;
        }

        .mrc-preview-product-image-thumbs {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-wrap: nowrap;

            .mrc-preview-product-image-thumb {
                width: 100%;
                height: 3vw;
                background-color: #f5f5f5;
                margin-top: 10px;
            }
        }
    }

    .merchant-preview-add-to-cart-inner {
        display: flex;
        gap: 15px;
        pointer-events: none;
    }

    .merchant-preview-add-to-cart {
        flex: 1;
        background-color: #E5E5E5;
        color: #fff;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 10px;
        text-align: center;
    }

    .merchant-preview-qty {
        border: 1px solid #E5E5E5;
        display: flex;
        gap: 0;
        width: auto;
    }

    .merchant-preview-qty button,
    .merchant-preview-qty input {
        border: none;
        background: none;
        outline: none;
        width: 20px;
        flex: 1;
        color: #E5E5E5;
        text-align: center;
    }

    .merchant-preview-qty input {
        padding: 0;
        margin: 0;
    }

    .merchant-preview-qty button {
        width: 30px;
        padding: 5px;
    }

    /**
     * Star rating
     */
    .mrc-preview-rating {
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .star-rating {
        overflow: hidden;
        position: relative;
        height: 1.618em;
        line-height: 1.618;
        width: 5.3em;
        font-family: star;
        font-weight: 400;
        letter-spacing: 0;
        color: #969696;

        &::before {
            content: "\53\53\53\53\53";
            opacity: 0.25;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
        }

        span {
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;
        }

        span::before {
            content: "\53\53\53\53\53";
            top: 0;
            position: absolute;
            left: 0;
            color: #FFA441;
        }
    }
}

.mrc-mw-70 {
    max-width: 70%;
}

.mrc-mw-30 {
    max-width: 30%;
}

.mrc-mw-40 {
    max-width: 40%;
}

@media(max-width: 1281px) {
    .mrc-hide-on-smaller-screens {
        display: none;
    }
}

.mrc-preview-text-placeholder {
    background-color: #f5f5f5;
    height: 13px;

    & + .mrc-preview-text-placeholder,
    & + .mrc-preview-addtocart-placeholder {
        margin-top: 15px;
    }
}

.mrc-preview-addtocart-placeholder {
    background-color: #e5e5e5;
    width: 140px;
    height: 30px;
}

@media(max-width: 991px) {
    .mrc-preview-single-product-elements {
        .mrc-preview-product-image-wrapper {
            .mrc-preview-product-image {
                height: 33vw;
            }
    
            .mrc-preview-product-image-thumbs {
                .mrc-preview-product-image-thumb {
                    height: 7vw;
                }
            }
        }
    }
}


// Free Gifts.
#merchant-free-gifts-widget {
    position: absolute;
}