.merchant-theme-kadence .merchant-pro-sc-product-name .variation-FreeGift {
  margin-left: unset;
}
.merchant-theme-kadence .products li.product .merchant-quick-view-position-overlay {
  -webkit-transition: 300ms all !important;
  transition: 300ms all !important;
  padding: 0.4em 1em !important;
}
.merchant-theme-kadence .merchant-floating-side-mini-cart-widget .product_list_widget span.quantity {
  padding-left: 73px;
}
.merchant-theme-kadence .merchant-floating-side-mini-cart-widget .product_list_widget li dl.variation {
  padding-left: 73px;
}