.theme-kadence .merchant-pro-sc-product-name .variation-FreeGift {
    margin-left: unset;
}

.theme-kadence .products li.product .merchant-quick-view-position-overlay {
    transition: 300ms all !important;
    padding: 0.4em 1em !important;
}

.theme-kadence .merchant-floating-side-mini-cart-widget .product_list_widget span.quantity,
.theme-kadence .merchant-floating-side-mini-cart-widget .product_list_widget li dl.variation{
    padding-left: 73px;
}
