.merchant-theme-oceanwp .merchant-frequently-bought-together-bundle-total-price del {
  text-decoration: none;
}
.merchant-theme-oceanwp .merchant-frequently-bought-together-bundle-total-price del .woocommerce-Price-amount bdi {
  font-size: 14px;
  text-decoration: line-through;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item {
  padding: 10px 0 10px 0;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid-wrap {
  position: relative;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content {
  width: 75%;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content .quantity {
  text-align: right;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content h3 {
  margin-bottom: 10px;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content .variation {
  margin: 0 0 10px 0;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content .variation * {
  display: inline;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content .variation p {
  margin: 0;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content .variation dd {
  margin-bottom: 10px;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content a.remove {
  line-height: 16px;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #cacaca;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.content a.remove:hover {
  color: #fff;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.thumbnail {
  width: 25%;
}
.merchant-theme-oceanwp .merchant-floating-side-mini-cart-widget .woocommerce-mini-cart-item .owp-grid.thumbnail img {
  position: static;
  max-width: 100%;
}