/**
 * Admin Preview
 * Wishlist
 *
 */

.merchant-flexible-content-control[data-id="sharing_links"] .layout .layout-actions-no_accordion {
	top: 10px;
	right: 20px;
}

.merchant-module-page-preview-browser-inner {
	display: flex;
	flex-grow: 0;
	max-width: 300px;
    width: 100%;
	margin: auto;
    padding: 35px 25px;
}

.merchant-wishlist-product-preview {
    width: 100%;
    
    .image-wrapper {
        position: relative;
        height: 11vw;
        max-height: 220px;
        background-color: #f5f5f5;
    }
}