/**
 * Reviews Advanced
 *
 */

body {
	&:not(.merchant-pagination-load-more) {
		.merchant-pagination-wrapper {
			display: none;
		}
	}
}

.merchant-adv-reviews-modal-photo-slider,
.merchant-adv-reviews {
	h2 {
		margin-top: 0;
	}

	&-media-carousel {
		.no-carousel {
			@media (min-width: 1025px) {
				margin-top: 30px;

				.merchant-carousel-stage {
					margin: 0 !important;
				}

				.merchant-carousel-stage > .item {
					flex: 0 0 32%;
					margin-right: 15px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		.section-title {
			margin-bottom: 20px;
		}

		.item {
			cursor: pointer;

			img {
				width: 100%;
			}
		}
	}

	.merchant-adv-reviews-title,
	.merchant-adv-reviews-desc {
		text-align: var(--mrc-adv-reviews-title-desc-align, left);
	}

	.merchant-adv-reviews-title {
		margin-top: 100px;
		margin-bottom: 20px !important;
		color: var(--mrc-adv-reviews-title-color, #212121);
	}

	// Star rating component.
	.star-rating {
		float: none !important;
		margin: 0 !important;
		font-size: var(--mrc-adv-reviews-start-font-size, 20px) !important;
		color: var(--mrc-adv-reviews-stars-color, #FFA441) !important;
		top: 1px;

		&:before {
			content: "SSSSS";
			color: var(--mrc-adv-reviews-stars-bg-color, #777) !important;
		}

		span {
			&:before {
				color: var(--mrc-adv-reviews-stars-color, #FFA441) !important;
			}
		}
	}

	// Write review button component.
	.merchant-adv-review-write-button,
	.merchant-pagination-button {
		background-color: var(--mrc-adv-reviews-button-bg-color, #212121) !important;
		color: var(--mrc-adv-reviews-button-color, #FFF) !important;
		padding: 8px 23px;
		text-decoration: none !important;

		&:hover {
			background-color: var(--mrc-adv-reviews-button-bg-color-hover, #757575) !important;
			color: var(--mrc-adv-reviews-button-color-hover, #FFF) !important;
		}
	}

	.merchant-adv-reviews-desc {
		color: var(--mrc-adv-reviews-desc-color, #777);
	}

	.merchant-adv-reviews-header {
		margin-top: 45px;

		.mrc-right-col {
			display: flex;
			flex-direction: column;
			align-items: self-end;

			@media screen and (min-width: 445px) and (max-width: 767px) {
				flex-direction: row;
				gap: 30px;
				justify-content: space-between;
				align-items: self-start;
			}

			@media screen and (max-width: 444px) {
				align-items: flex-start;
				gap: 20px;
			}
		}

		.merchant-reviews-orderby-form {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			margin-top: auto;
			margin-bottom: 0 !important;

			label {
				white-space: nowrap;
				margin: 0 7px 0 0;
				font-size: 1rem;
			}

			select {
				width: 100%;
				border: 1px solid var(--mrc-adv-reviews-dividers-color, #e9e9e9);
				appearance: none;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23212121' viewBox='0 0 448 512'%3E%3Cpath d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z' /%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: calc(100% - 18px) center;
				background-size: 10px;
				padding: 10px 40px 10px 18px !important;
				height: auto !important;
				font-size: 1rem !important;
			}
		}

		.merchant-adv-reviews-rating-wrapper {
			display: flex;
			align-items: center;

			.merchant-adv-reviews-rating {
				font-size: 2em;
				line-height: 1.4;
				color: var(--mrc-adv-reviews-title-color, #212121);

				& + .star-rating {
					margin-left: 16px !important;
				}
			}
		}

		.merchant-adv-reviews-total {
			font-size: 1.1em;
			margin-top: 10px;
			margin-bottom: 30px;
			color: var(--mrc-adv-reviews-title-color, #212121);
		}
	}

	.merchant-adv-reviews-body {
		margin-bottom: 50px;

		#comments {
			float: none !important;
			width: 100% !important;
			max-width: 100% !important;
			padding: 0 !important;
			margin: 0 !important;
			border: none !important;
		}

		.woocommerce-noreviews {
			margin: 50px 0 0;
		}
	}

	.merchant-adv-reviews-footer {
		text-align: center;
		margin-bottom: 100px;
	}

	.merchant-adv-review-write-button {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 767px) {
		.merchant-adv-review-write-button {
			margin-top: 40px;
			margin-bottom: 0;
			text-align: center;
		}
	}
}

.merchant-adv-reviews {
	display: block !important;
	width: 100%;

	&:after {
		content: none !important;
	}

}

// Star rating component
.star-rating {
	&.merchant-star-rating-style2 {
		font-size: 1.75em;
		margin: 0;

		&:before {
			opacity: 1;
		}
	}

	@media screen and (max-width: 767px) {
		&.merchant-star-rating-style2 {
			font-size: 1em;
		}
	}
}

// Star rating bars component
.merchant-star-rating-bars {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.merchant-star-rating-bar-item {
		display: flex;
		align-items: center;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:hover > div {
			opacity: .7;
		}

		&.rating-active > div {
			opacity: .6;
		}

		svg {
			cursor: pointer;
			margin-left: 5px;
		}
	}

	.merchant-star-rating-bar-item-inner {
		display: flex;
		align-items: center;
		width: 420px;
		position: relative;

		@media(max-width: 768px) {
			width: 300px;
		}

		.item-rating {
			width: 60px;
			margin: 0 !important;
			padding: 0 !important;
			color: var(--mrc-adv-reviews-title-color, #212121);
		}

		.item-bar {
			position: relative;
			margin-left: 20px;
			background-color: var(--mrc-adv-reviews-bar-bg-color, #f5f5f5);
			height: 10px;
			width: 300px;
			border-radius: 10px;
			overflow: hidden;

			.item-bar-inner {
				position: absolute;
				top: 0;
				left: 0;
				background-color: var(--mrc-adv-reviews-bar-color, #212121);
				width: 0;
				height: 100%;
				border-radius: 10px;
			}
		}

		.item-qty {
			width: 30px;
			font-size: 0.8rem;
			margin: 0 0 0 10px !important;
			color: var(--mrc-adv-reviews-title-color, #212121);
		}
	}

	@media screen and (max-width: 767px) {
		.merchant-star-rating-bar-item-inner {
			.item-rating {
				white-space: nowrap;
			}

			.item-bar {
				width: 180px;
				min-width: calc(100% - 120px);
			}

			.item-qty {
				margin-left: auto;
			}
		}
	}
}

.merchant-review-author {
	text-transform: capitalize;
}

// Reviews component
.merchant-reviews-list-wrapper {
	border-top: 1px solid var(--mrc-adv-reviews-dividers-color, #e9e9e9);
	border-bottom: 1px solid var(--mrc-adv-reviews-dividers-color, #e9e9e9);
	margin-top: 40px;

	.merchant-reviews-list-item {
		padding: 40px 0;

		p {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.merchant-reviews-author-wrapper {
			display: flex;
			align-items: center;
		}

		.star-rating {
			& + .merchant-review-author {
				margin-left: 20px;
			}
		}

		.merchant-review-author {
			display: inline-flex;
			align-items: center;
			font-size: 1.05em;
			color: var(--mrc-adv-reviews-title-color, #212121);

			@media screen and (max-width: 767px) {
				font-size: 0.8em;
			}
		}

		.verified {
			display: inline-flex;
			align-items: center;
			margin-left: 6px;
			font-size: 0.7rem;
			font-weight: 100;
		}

		.merchant-review-date {
			font-size: 0.8rem;
			color: var(--mrc-adv-reviews-desc-color, #777);
		}

		@media(min-width: 768px) {
			.merchant-review-date-wrapper {
				text-align: right;
			}
			.merchant-review-date {
				font-size: 1rem;
			}
		}

		.merchant-review-content {
			margin-top: 25px;
			color: var(--mrc-adv-reviews-desc-color, #777);

			p {
				color: var(--mrc-adv-reviews-desc-color, #777);
			}

			.merchant-review-images {
				margin-top: 20px;
				display: flex;
				flex-wrap: wrap;
				gap: 10px;

				.merchant-review-image {
					position: relative;
					width: 100%;
					max-width: 100px;
					overflow: hidden;
					border-radius: 5px;

					&-overlay {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.5);
						opacity: 0;
						transition: ease opacity 300ms;
					}

					img {
						width: 100%;
						display: block;
						object-fit: cover;
					}

					&:hover {
						cursor: pointer;

						.merchant-review-image-overlay {
							opacity: 1;
							transition: ease opacity 300ms;
						}
					}
				}
			}
		}

		& + .merchant-reviews-list-item {
			border-top: 1px solid var(--mrc-adv-reviews-dividers-color, #e9e9e9);
		}
	}
}

/**
 * Pagination (colors only)
 */
.merchant-adv-reviews-pagination {
	display: flex;
	justify-content: center;

	&.woocommerce-pagination {
		float: none;

		ul {
			li {
				span.current {
					color: var(--mrc-adv-reviews-button-color, #FFF) !important;
					border-color: var(--mrc-adv-reviews-button-bg-color, #212121) !important;
					background-color: var(--mrc-adv-reviews-button-bg-color, #212121) !important;
				}

				a {
					&:hover,
					&:focus {
						color: var(--mrc-adv-reviews-button-color-hover, #FFF) !important;
						border-color: var(--mrc-adv-reviews-button-bg-color-hover, #757575) !important;
						background-color: var(--mrc-adv-reviews-button-bg-color-hover, #757575) !important;
					}

					&.prev,
					&.next {
						text-indent: 0;
					}
				}
			}
		}
	}
}

/**
 * Review Modal
 */
.merchant-adv-reviews-modal {
	max-width: none !important;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#212121, 0.8);
	visibility: hidden;
	opacity: 0;
	transition: ease opacity 300ms;
	z-index: 99999;

	&.show {
		opacity: 1;
		visibility: visible;;
	}

	.merchant-adv-reviews-modal-body {
		position: relative;
		padding: 50px 33px 50px 50px;
		background-color: var(--mrc-adv-reviews-modal-bg-color, #f5f5f5);
		max-width: calc(100vw - 40px);

		.merchant-adv-reviews-modal-close {
			position: fixed;

			@media screen and (min-width: 769px) {
				top: 30px;
				right: 30px;
			}

			@media screen and (max-width: 768px) {
				top: 20px;
				right: 20px;
			}

			.icon-cancel {
				cursor: pointer;

				path {
					fill: var(--mrc-adv-reviews-modal-close-icon-color, #212121);
					transform: scale(0.75);
				}
			}

			&:hover {
				.icon-cancel {
					path {
						fill: var(--mrc-adv-reviews-modal-close-icon-color-hover, #757575);
					}
				}
			}
		}

		.merchant-adv-reviews-modal-content {
			width: 100%;
			padding-right: 17px;
			max-width: 500px;
			max-height: 85vh;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 7px;
			}

			&::-webkit-scrollbar-track {
				background: #e2e2e2;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #CCC;
			}

			h4 {
				margin: 0 0 20px 0 !important;
			}

			h5 {
				margin: 0 0 10px 0 !important;
			}

			p {
				margin: 0 !important;

				& + p {
					margin-top: 10px !important;
				}
			}

			.modal-title {
				font-size: 1rem;
				font-weight: 600;
				margin-top: 0;
				color: var(--mrc-adv-reviews-modal-title-color, #212121);

				& + .stars {
					margin-top: 10px !important;
				}
			}

			.merchant-adv-reviews-modal-product {
				display: flex;
				align-items: flex-start;
				margin-bottom: 20px;

				img {
					max-width: 100px !important;
				}

				.modal-product-info {
					margin-left: 25px;

					h5 {
						margin-top: 5px;
						margin-bottom: 10px;
						font-size: 1rem;
						font-weight: 600;
						color: var(--mrc-adv-reviews-modal-title-color, #212121);
					}

					p {
						font-size: 0.9rem;
						color: var(--mrc-adv-reviews-modal-desc-color, #777);

						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}
			}

			.comment-form-rating {
				display: block !important;

				.modal-title {
					display: block !important;
				}
			}

			.stars {
				font-size: 1.5rem;
				margin-top: 10px;
				margin-bottom: 15px;

				a {
					&:before {
						color: var(--mrc-adv-reviews-stars-bg-color, #757575) !important;
					}
				}

				&:hover,
				&.selected {
					a:before {
						color: var(--mrc-adv-reviews-stars-color, #FFA441) !important;
					}
				}
			}

			.comment-form-comment {
				margin-top: 15px !important;
			}

			.comment-form {
				display: block !important;
				margin-left: 2px;

				> p {
					min-width: 100%;
					float: none !important;
				}

				p {
					margin-bottom: 20px;

					&:last-of-type {
						margin-bottom: 0;
					}

					&.form-submit {
						display: block !important;
						float: none !important;
					}

					&:not(.comment-form-cookies-consent) {
						label {
							display: block;
							margin-bottom: 10px;
							color: var(--mrc-adv-reviews-modal-title-color, #212121) !important;
						}

						textarea {
							max-height: none !important;
							height: 110px;
						}

						textarea,
						input {
							max-height: 50px;
						}

						textarea,
						input {
							display: block;
							width: 100%;
							color: var(--mrc-adv-reviews-modal-textarea-color, #777) !important;
							background-color: var(--mrc-adv-reviews-modal-textarea-bg-color, #FFF) !important;
							box-sizing: border-box;
							padding: 13px !important;
							border-width: 1px;
							border-radius: 2px;
						}

						#submit {
							display: block !important;
							color: var(--mrc-adv-reviews-button-color, #FFF) !important;
							background-color: var(--mrc-adv-reviews-button-bg-color, #212121) !important;
							width: 100% !important;
							padding: 13px !important;
							font-weight: 400 !important;

							&:hover,
							&:focus {
								color: var(--mrc-adv-reviews-button-color-hover, #FFF) !important;
								background-color: var(--mrc-adv-reviews-button-bg-color-hover, #757575) !important;
							}
						}
					}

					&.comment-form-cookies-consent {
						input {
							border-width: 1px;
							border-radius: 2px;
							background-color: var(--mrc-adv-reviews-modal-textarea-bg-color, #FFF) !important;
						}
					}
				}

				.merchant-adv-reviews-media {
					margin-top: 15px;

					input[type="file"] {
						display: none;
					}

					#merchant-adv-reviews-drop-area {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100px;
						margin: 10px 0 20px;
						border-width: 1px;
						border-style: dashed;
						border-radius: 2px;
						cursor: pointer;
						transition: ease border-color 300ms;

						&:hover {
							border-color: var(--mrc-adv-reviews-modal-textarea-color-hover, #212121);

							p {
								color: var(--mrc-adv-reviews-modal-textarea-color-hover, #212121);
							}
						}

						p {
							font-size: 0.9rem;
						}

						p,
						.merchant-adv-reviews-upload-icon {
							&.hide {
								display: none;
							}
						}

						.merchant-adv-reviews-loader {
							display: none;

							&.show {
								display: flex;
								animation: rotate 1s linear infinite;
							}
						}
					}

					.merchant-adv-reviews-upload-preview {
						display: flex;
						flex-wrap: wrap;
						gap: 18px;
						margin-bottom: 15px;

						> div {
							flex: 0 0 100px;
							height: 90px;
							position: relative;

							&:after {
								content: none;
								background: rgba(0, 0, 0, .5);
								position: absolute;
								inset: 0;
							}

							&:hover:after {
								content: '';
							}

							&:hover button {
								display: block;
							}
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 3px;
						}

						button {
							display: none;
							position: absolute;
							z-index: 2;
							top: 3px;
							right: 3px;
							background: none;
							padding: 0;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.rtl {
	.merchant-adv-reviews-modal .merchant-adv-reviews-modal-body {
		.merchant-adv-reviews-modal-content {
			.modal-product-info {
				margin-left: 0;
				margin-right: 25px;
			}
		}

		.merchant-adv-reviews-modal-close {
			left: 30px;
			right: unset;
		}
	}
}

.merchant-carousel {
	padding: 0 !important;
}

.merchant-adv-reviews-modal-photo-slider {

	.merchant-carousel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	&.show {
		background: rgba(0, 0, 0, .9);
	}

	&.loading:after {
		content: '';
		position: absolute;
		width: 32px;
		height: 32px;
		border-radius: 50px;
		border: 3px solid transparent;
		border-top: 3px solid #FFF;
		animation: spin 1s ease-in-out infinite;
	}

	.merchant-adv-reviews-modal-body {
		z-index: 99;

		@media (max-width: 768px) {
			max-width: calc(100vw - 80px);
		}

		.merchant-adv-reviews-modal-content {
			width: 960px;
			max-width: 100%;
			margin-right: 0;
			padding-right: 0;
			overflow: hidden;
		}
	}

	.merchant-adv-reviews-modal-close {
		z-index: 999;
	}

	.merchant-carousel-wrapper {

		.item {
			cursor: pointer;
			height: 100%;
			display: flex;
			align-items: center;

			img {
				width: 100%;
				align-self: center;
			}
		}

		.merchant-carousel-nav {
			top: 50% !important;
			width: 28px;
			height: 34px;
			line-height: 40px;
			transform: translateY(-50%) !important;
			background: rgb(255, 255, 255, .7);
			text-align: center;

			&:hover {
				background: rgb(255, 255, 255, 1);
			}

			&-prev {
				left: 0 !important;
				right: auto !important;
				border-radius: 0 5px 5px 0;
			}

			&-next {
				border-radius: 5px 0 0 5px;
				right: 0 !important;
				left: auto !important;
				//right: 15px;
			}
		}
	}

	.merchant-adv-reviews-modal {
		&-content {
			display: flex;

			@media screen and (min-width: 769px) {
				grid-gap: 30px;
			}

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}
		}

		&-body {
			padding: 0;
		}

		&-column {
			overflow: hidden;
			position: relative;

			&:first-child {
				background: #000;
			}

			@media screen and (min-width: 769px) {
				flex: 1;
				width: 50%;

				&:first-child {
					padding: 0 20px;
				}

				&:last-child {
					padding: 30px 0;
				}
			}

			@media screen and (max-width: 768px) {
				&:first-child {
					padding: 0 7px;
				}
			}

			&-review {
				padding: 40px 50px 40px 0;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 15px;

				@media screen and (max-width: 768px) {
					padding: 25px;
				}
			}

			&-review-title {
				margin-block: 0;
				font-size: 24px;
				line-height: 1.4;
			}

			.merchant-review-content {
				overflow-y: auto;
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.merchant-adv-reviews-modal {
	&-next-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: none !important;
		z-index: 999;
		border: none;
		box-shadow: none;
		outline: none;
		margin: 0;

		&.hidden {
			display: none;
		}

		@media screen and (min-width: 769px) {
			padding: 15px;

			&.merchant-adv-reviews-modal-next {
				right: 10px;
			}

			&.merchant-adv-reviews-modal-prev {
				left: 10px;
			}
		}

		@media screen and (max-width: 768px) {
			padding: 7px;

			&.merchant-adv-reviews-modal-next {
				right: 5px;
			}

			&.merchant-adv-reviews-modal-prev {
				left: 5px;
			}
		}

		&:focus,
		&:active {
			outline: none;
		}
	}
}

.merchant-adv-reviews-modal-photo-slider-single-review .merchant-adv-reviews-modal-next-prev {
	display: none;
}

.merchant-collect-order-review {

	.merchant-order-review-product {
		display: flex;
		gap: 25px;
		margin-bottom: 50px;
	}

	.merchant-product-image {
		flex: 0 0 100px;

		img {
			width: 100px;
			height: auto;
		}
	}

	.merchant-product-details {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.merchant-product-name {
			h5 {
				margin: 0 0 15px;

				a {
					text-decoration: none;
				}
			}
		}

		.merchant-product-desc {
			margin-bottom: 25px;
		}
	}

	.review-modal-body {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		z-index: 999999;
		opacity: 0;
		transition: all 300ms ease-in-out;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;

		&.show {
			opacity: 1;
			visibility: visible;
		}

		.merchant-product-review-form {
			position: relative;
			padding: 45px 50px;
			background-color: var(--mrc-adv-reviews-modal-bg-color, #f5f5f5);
			max-width: 500px;

			.modal-title {
				font-size: 1rem;
				font-weight: 600;
				margin-top: 0;
				color: var(--mrc-adv-reviews-modal-title-color, #212121);
			}

			.merchant-form-group {
				margin-bottom: 25px;

				> label {
					margin-bottom: 10px;
					display: block;
					font-weight: bold;
					font-size: 15px;
				}
			}

			.product-data {
				display: flex;
				gap: 25px;
				margin-bottom: 25px;

				.product-image {
					flex: 0 0 100px;

					img {
						width: 100px;
						height: auto;
					}
				}

				.product-details {
					display: flex;
					flex-direction: column;
					justify-content: center;

					.product-name {
						h5 {
							margin: 0 0 15px;

							a {
								text-decoration: none;
							}
						}
					}
				}
			}

			// Star Rating
			.merchant-star-rating {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				font-size: 24px;

				input {
					display: none; // Hide radio buttons
				}

				label {
					direction: rtl;
					cursor: pointer;
					transition: 100ms;
					color: var(--mrc-adv-reviews-stars-bg-color, #757575);
					font-family: star;
				}

				input:checked ~ label,
				input:hover ~ label {
					color: #f5c518;
				}

				label:hover ~ label {
					color: #f5c518;
				}
			}

			// Image Upload Area
			.merchant-image-drop-area {
				border: 1px dashed #828181;
				padding: 20px;
				text-align: center;
				cursor: pointer;
				background-color: #fafafa;
				border-radius: 3px;

				&.dragover {
					border-color: #2196F3;
					background-color: #2196F3;
				}

				p {
					margin-bottom: 0;
				}

				.merchant-uploaded-images-preview {
					display: flex;
					margin-top: 15px;

					.uploaded-image{
						position: relative;
						margin-right: 10px;
						width: 100px;
						height: 100px;

						img {
							border-radius: 5px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							max-width: 100%;
							transition: 300ms;
						}

						button{
							position: absolute;
							background-color: unset;
							border: unset;
							outline: unset;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							transition: 300ms;
							opacity: 0;
						}

						&:hover{
							img {
								filter: brightness(0.5);
							}

							button{
								opacity: 1;
							}
						}
					}
				}
			}

			.merchant-button {
				border: 2px solid var(--bt-color-button-border, #212121);
				box-shadow: none;
				background: var(--bt-color-button-bg, #212121);
				color: var(--bt-color-button, #FFF);
				padding-top: var(--bt-padding-button-top-bottom, 13px);
				padding-bottom: var(--bt-padding-button-top-bottom, 13px);
				padding-left: var(--bt-padding-button-left-right, 24px);
				padding-right: var(--bt-padding-button-left-right, 24px);
				cursor: pointer;
				display: inline-block;
				transition: all .3s;
				height: auto;
				border-radius: var(--bt-border-radius-button, 0);
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: var(--bt-letter-spacing-button, 0px);
				font-size: var(--bt-font-size-button, 14px);
				background-color: var(--bt-color-button-bg, #212121);
				color: var(--bt-color-button, #FFF);
				text-decoration: none;
				width: 100%;
			}

			.merchant-ajax-message {
				margin-top: 15px;
				font-weight: bold;

				&.success {
					color: green;
				}

				&.error {
					color: red;
				}
			}
		}
	}


}