/**
 * Pre Orders.
 *
 */
.merchant-pre-orders-date {
  font-weight: 700;
  margin-bottom: 15px;
}

.woocommerce .merchant-pre-ordered-product .add_to_cart_button:not(.merchant_buy_now_button):not(.merchant-quick-view-button),
.woocommerce .merchant-pre-ordered-product .product_type_grouped:not(.merchant_buy_now_button):not(.merchant-quick-view-button),
.woocommerce .merchant-pre-ordered-product .single_add_to_cart_button:not(.merchant_buy_now_button):not(.merchant-quick-view-button) {
  color: var(--mrc-po-text-color, #FFF) !important;
  border-color: var(--mrc-po-border-color, #212121) !important;
  background-color: var(--mrc-po-background-color, #212121) !important;
}
.woocommerce .merchant-pre-ordered-product .add_to_cart_button:not(.merchant_buy_now_button):not(.merchant-quick-view-button):hover,
.woocommerce .merchant-pre-ordered-product .product_type_grouped:not(.merchant_buy_now_button):not(.merchant-quick-view-button):hover,
.woocommerce .merchant-pre-ordered-product .single_add_to_cart_button:not(.merchant_buy_now_button):not(.merchant-quick-view-button):hover {
  color: var(--mrc-po-text-hover-color, #FFF) !important;
  border-color: var(--mrc-po-border-hover-color, #414141) !important;
  background-color: var(--mrc-po-background-hover-color, #414141) !important;
}

dl.merchant-pre-orders-note {
  list-style: none outside;
  margin-bottom: 0;
}
dl.merchant-pre-orders-note dt {
  float: left;
  clear: both;
  margin: 0;
  margin-right: 0.25em;
  list-style: none outside;
}
dl.merchant-pre-orders-note dd {
  margin: 0;
}

span.merchant-pre-orders-note {
  display: block;
  font-size: max(12px, 0.7em);
  opacity: 0.7;
}
span.merchant-pre-orders-note .merchant-pre-orders-label {
  padding-right: 0.2em;
}